[2020-03-20 11:15] kmltdr commented on #20222
https://gist.github.com/kmltdr/aa38389a5a7fd2172f83cdecc202a4d9

[2020-03-20 11:46] #11815 closed

[2020-03-20 13:04] daniel-eys commented on #20226
Upstream fix: https://github.com/netblue30/firejail/pull/3172/commits/f62c62c436748b0e45886bef9425748000a11135 (but no release yet).

[2020-03-20 14:00] kmltdr commented on #20221
[strace](https://gist.github.com/kmltdr/4240f650363a8ee12cb981ecdc7e7691)
[gdb backtrace](https://gist.github.com/kmltdr/a0d2248d6ddafb07d3f0b72d06349361)

[2020-03-20 14:16] #20221 closed

[2020-03-20 15:44] toluschr opened #20244 "Question: Accepting `kwin-decoration-*` packages?"
### System

* xuname:
`Void 5.4.26_1 x86_64 AuthenticAMD uptodate rrrrmmnFFFFFFFFFFFF`
* package:
  none

### Question
Does the VoidLinux-Team accept `kwin-decoration` packages, for example BreezeEnhanced?

[2020-03-20 15:52] Tcll opened #20245 "XFCE PolicyKit Agent error"
![Screenshot_2020-03-20_11-36-22](https://user-images.githubusercontent.com/773959/77179968-a5aacd00-6a9f-11ea-89b2-757c534b3dd7.png)

I know this is getting a bit old now, but
`sudo xbps-install -Su elogind dbus-elogind polkit-elogind`
does not fix the issue after a successful installation.

I can't even mount flash drives with nemo or xfce4-places-plugin, as if elogind was never installed.

I in

[2020-03-20 16:15] wundrweapon commented on #20107
Most Discord updates handle themselves (as you probably know). If you actually need a new package version, the app will refuse to launch after an update and suggest a .deb file download, at while point just pull this repo again and rerun `./xbps-src pkd discord` and reinstall the same way as before. You may need to remove the previous version's xbps file though I don't remember.

[2020-03-20 17:02] bobertlo commented on #20107
@Frick-David I originally was going to post a more detailed overview, but we really do not want to duplicate the `xbps-src` documentation in the *void-packages* repo. I think more valuable would be a more clear and simple quick start in the *void-packages* repo readme. Not that the existing documentation is *bad*, but this comes up *a lot*.

[2020-03-20 21:04] Arzte commented on #20107
@Duncaen Out of curiosity, what would be considered a "formal" way here? Under the assumption that a package would for some reason be accepted.

[2020-03-20 21:23] Duncaen commented on #20107
Similar license or a license by itself, written like a legal document (Not "Hello, you can use this.").

* What does this permission grant?
* What conditions invalidate the permissions? (the arch linux mail doesn't include anything, while your mail sounds like there are conditions).
* Is there a limit: lifetime/date/version?
* Is this permission transferable? (mirrors, downstream distributions)
*

[2020-03-21 11:04] BouncyMaster opened #20252 "libglvnd-devel fails to install when nvidia340 is installed"
### System

* xuname:
  ``Void 5.4.26_1 x86_64 AuthenticAMD uptodate rrrmFFF``

### Expected behavior
glfw-devel should install successfully.
### Actual behavior
``glfw-devel-3.3.2_1`` doesn't install, instead i get:

``nvidia340-340.108_3: broken, unresolvable shlib `libnvidia-ml.so.1'``
``Transaction aborted due to unresolved shlibs.``
### Steps to reproduce the behavior
I use the proprietary dr

[2020-03-21 13:50] st3r4g commented on #20252
Can reproduce, `glfw-devel` is pulling `libglvnd-devel` which for some reason is trying to replace `nvidia340-libs` with `libglvnd`. Instead, you should be able to have `libglvnd-devel` and `nvidia340-libs` installed.
Trying to install `nvidia340` and `libglvnd-devel` in the same transaction seems to succeed... I did this:
[code]
Now you should be able to install things that depend on `libglvnd-de

[2020-03-21 14:02] xtraeme commented on #20252
hmm

please paste output of `xbps-install -nd glfw-devel`

[2020-03-21 14:27] BouncyMaster commented on #20252
Output of ``xbps-install -nd glfw-devel``
[debug.txt](https://github.com/void-linux/void-packages/files/4363107/debug.txt)

[2020-03-21 14:36] yopito commented on #20222
I'm sorry, I'm probably not clever enough to diagnose.
Just one point: does you cpu provides sse/sse2 ? could you output `/proc/cpuinfo` (only one processor).
help rescue: ping @pullmoll and @leahneukirchen

[2020-03-21 14:53] xtraeme commented on #20222
He should install dbg pkgs to make the gdb stack trace useful

[2020-03-21 15:01] yopito commented on #20222
update: on IRC, sebu confirms same this issue on glibc.
He/her also rebuilt package with gcc 9.3: same issue.
work fine for him with xaos 3.7, he/her will provides a PR with this package' update.
stay tune.

[2020-03-21 15:18] leahneukirchen commented on #20222
4fba79baf2

[2020-03-21 15:35] sebu06 commented on #20222
can confirm 3.7 solbes the issue

[2020-03-21 15:46] #20222 closed

[2020-03-21 15:50] LinArcX opened #20258 "Package request: supermariowar"
A fan-made multiplayer Super Mario Bros. style deathmatch game:
https://github.com/mmatyas/supermariowar

[2020-03-21 15:52] LinArcX opened #20259 "Package request: pegasus-frontend"
A cross platform, customizable graphical frontend for launching emulators and managing your game collection:
https://github.com/mmatyas/pegasus-frontend

[2020-03-21 15:54] xtraeme commented on #20222
cool, thanks @leahneukirchen

[2020-03-21 18:01] AbsolutelyLudicrous opened #20262 "OpenVPN does not install scripts to /etc/openvpn"
### System

* xuname:
  *xuname: `Void 5.4.15abigail3 x86_64 AuthenticAMD uptodate rFF`, uname -a: `Linux hiigara 5.4.15abigail3 #8 SMP PREEMPT Mon Feb 3 20:49:38 EST 2020 x86_64 GNU/Linux`*
* package:
  *openvpn 2.4.8, possibly NetworkManager-openvpn 1.8.0?*

### Expected behavior

NetworkManager imports and starts the .ovpn file like it should.

Running `sudo openvpn whatever.ovpn` manually esta

[2020-03-21 21:04] travankor commented on #20262
From what I understand, this in intended behavior. Void's OPVN does not want to provide external scripts.

[2020-03-22 03:51] tesfaye commented on #6684
[Jellyfin doesn't support x86 since Microsoft doesn't provide x86 binaries for Linux](https://jellyfin.org/docs/general/administration/installing.html)

[2020-03-22 07:26] Anachron commented on #6684
Yep but can be built from source it seems:
https://github.com/dotnet/source-build/blob/release/3.1/cross/build-rootfs.sh

I'll see if I can get it working.

[2020-03-22 11:35] pullmoll opened #20281 "NetworkManager: wrong meson exe_wrapper for mips*hf"
I don't know how this can happen as we have not set this value anywhere, but this is what happens when trying to build `NetworkManager` for `mips*`:
[code]

See it tries to use a `qemu-mipselhf-static` which does not exist. The correct arch to use here is `qemu-mipsel-static` and it is what can be found in `common/cross-profiles/mipselhf.sh`:
[code]
I even tried to explicitly set `-Dexe_wrapper=qe

[2020-03-22 12:59] liketechnik opened #20282 "Package request: shotgun"
https://github.com/nexromancers/shotgun

I never created a package for void, but would be open to create one for shotgun...

[2020-03-22 13:26] LinArcX commented on #5055
@Johnnynator There is no relation between treefrog-framework or mongodb with deepin-file-manager:
https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/deepin-file-manager

[2020-03-22 19:04] JesMJM opened #20290 "Package Request: Zenith"
https://github.com/bvaisvil/zenith

[2020-03-22 19:22] tesfaye commented on #6684
`fail: Microsoft.DotNet.Darc.Operations.Operation[0]
        Something failed while cloning.
  System.Exception: Something went wrong when cloning repo https://github.com/dotnet/arcade at <default branch> into /builddir/dotnet-core-3.1.102/bin/src/arcade
   ---> System.TypeInitializationException: The type initializer for 'LibGit2Sharp.Core.NativeMethods' threw an exception.
   ---> System.DllNotF

[2020-03-22 20:24] f3l-x opened #20293 "audacious: set default build option to "qt" as the gtk version will expire"
With the latest commit of audacious, version 4.0, i think the void team should change the default build option to "qt" instead of "gtk".
As mentioned on the audacious homepage:
"This release switches to Qt 5 by default.....GTK2 remains available and supported as a build option, but new features will only be added to the Qt UI going forward."
[original release notes](https://audacious-media-player.

[2020-03-22 20:38] Ingvix commented on #11356
Why not ask them? They got an easy-to-access service chat. Not sure if they know there but at least an email would probably give an answer. I'm sure there are others like me who would like to easily install it from the local package manager. Or did ask and they didn't like the idea?

[2020-03-23 01:01] #20293 closed

[2020-03-23 07:14] sgn commented on #20281
Have you tried added `build_helper=qemu` to the template,
that helper will set exe_wrapper into the xbps_meson.cross

[2020-03-23 07:44] strannik-j commented on #1509
The problem is still relevant!

[2020-03-23 07:55] Anachron opened #20304 "Package Request: Papermerge"
https://www.papermerge.com/

Installation: https://papermerge.readthedocs.io/en/latest/installation/manual_way.html
License: [Apache-2.0](https://github.com/ciur/papermerge/blob/master/LICENSE)
Source: https://github.com/ciur/papermerge/releases

[2020-03-23 08:09] Anachron opened #20306 "Package Request: Paperless"
https://github.com/the-paperless-project/paperless

Source: https://github.com/the-paperless-project/paperless
License: [GPL-3.0](https://github.com/the-paperless-project/paperless/blob/master/LICENSE)

[2020-03-23 08:10] Anachron commented on #20304
Closing in favor of #20306

[2020-03-23 08:10] #20304 closed

[2020-03-23 08:48] leonardlorenz opened #20308 "Remove wireshark-gtk from the repos"
`xbps-install -S wireshark-gtk` returns this
[code]

[2020-03-23 10:18] Johnnynator commented on #6684
Building from source still pulls in random binaries, some of them link against OpenSSL (e.g. libgit), which is most likely the issue you see right now.

[2020-03-23 11:18] kartikynwa opened #20314 "Package Request: spek"
Spek is an acoustic spectrum analyser written in C and C++. It uses FFmpeg libraries for audio decoding and wxWidgets for the GUI.

- Project page: http://spek.cc
- Github page: https://github.com/alexkay/spek

I tried writing a template from scratch but it doesn't compile since I am unfamiliar with how build systems work and I suck. I was able to build the program locally. [Link to my broken temp

[2020-03-23 13:42] Frick-David commented on #20107
@bobertlo, Would it be possible to have a page when you click on the package name on the void package search page that explains how to install or use it. For example, my docker doc could then be moved from void docs to that page so the void docs typically only cover stuff important to the void user, not a package user. Right now, when you click on a package, it brings you to Github with a template

[2020-03-23 15:44] sgn commented on #20281
It comes from fix-cross-gir.patch

[2020-03-23 16:36] bobertlo opened #20321 "FTBFS: mdocml"
I was trying to build a base set of packages from bootstrap when I found this. It also happens building from the official repos.

[code]

Also:
https://travis-ci.org/github/bobertlo/void-packages/jobs/665947505#L4146

[2020-03-23 17:05] leahneukirchen commented on #20321
duplicate of #18816

[2020-03-23 17:05] #20321 closed

[2020-03-23 17:09] #18816 closed

[2020-03-23 21:58] #20281 closed

[2020-03-24 01:42] aeosynth commented on #20282
I can try this next week, haven't created a package from scratch either.

[2020-03-24 06:15] mnabid opened #20336 "python3-3.8.1_1: broken, unresolvable shlib `libffi.so.6'"
I was trying to compile nautilus and got the error:

[code]
**EDIT:**
libffi update to 3.3 is probably causing this error.

[2020-03-24 06:25] pullmoll commented on #20336
@mnabid Exactly. You'll have to wait until the packages are built:
https://build.voidlinux.org/waterfall
It may take some time because libffi affects a lot of big packages.

[2020-03-24 06:30] mnabid commented on #20336
Guess I'll wait then.

[2020-03-24 06:43] Anachron commented on #17500
@ndowens how is the progress?

[2020-03-24 07:23] not-chicken commented on #20314
It doesn't build because it needs patches to build with latest ffmpeg.
This fork is better suited for inclusion imo : https://github.com/withmorten/spek-alternative

[code]

Built and run on x86_64

[2020-03-24 13:12] svenper opened #20342 "libpoppler89 version mismatch? (90)"
### System

* xuname:
  `Void 5.4.25_1 x86_64-musl GenuineIntel uptodate hold rrnFFFFFFFFFF`
* package:
  `libpoppler89-0.80.0_1`

### Expected behavior

libpoppler89 has version 89 library, libpoppler90 has 90, etc.

[code]

### Actual behavior

libpoppler89 has library version 90

[code]

### Steps to reproduce the behavior

[code]

[2020-03-25 00:59] Supersonic112 commented on #20102
Small addition: just switched to Voidlinux yesterday, I also had to install `libglvnd-32bit` before Steam would run beyond something that looked like the following (admittedly rather old) issue: https://github.com/ValveSoftware/steam-for-linux/issues/3951

[2020-03-25 01:24] q66 commented on #20336
@pullmoll btw, in order to unstage the musl repo, we'll need a new tarball for `ghc-bin`; do you think you could build one? In order to not repeat this problem, make sure *not* to build it with `--with-system-libffi`, as that's what's causing the whole mess for `x86_64-musl` only; my `ppc64le` tarball does not have the problem, nor do the official bindists.

[2020-03-25 02:03] pullmoll commented on #20336
@q66 Sure, I can do that. Is there a description how I build the x86_64-musl ghc-bin tarball?
I read I should "make binary-dist" but where?

[2020-03-25 02:57] pullmoll commented on #20336
FWIW Here's what I think could work:
+ In a x86_64-musl build env extract `bsdtar xvf /host/binpkgs/ghc-bin-8.6.5_1.x86_64.xbps`
+ Create a symlink for a fake `libffi.so.6` with `ln -sf libffi.so.7.1.0 /usr/lib/libffi.so.6`
+ Modify ghc template to **not** depend on `ghc-bin` for the host
+ Also remove the `configure_args="--with-system-libffi"` from the template
+ Add a `make_build_args="binary-d

[2020-03-25 03:09] q66 commented on #20336
i don't think the glibc build of `ghc` will work in a musl env... you need to take the existing musl `ghc-bin` tarball, extract it in your env, get a `libffi.so.6`, provide it, then build `ghc` with `binary-dist` like you said (having removed `--with-system-libffi`)

as for uploads: normally on `alpha.de.repo.voidlinux.org` in `distfiles` as usual

[2020-03-25 03:10] q66 commented on #20336
i will take care of revbumping `stack` and the other haskell things that need rebuilding, as e.g. `stack` needs build fixes (like always...) and so on, i just need you to provide the bindist, since i can't build that myself (no spare x86_64 machine with enough power)

[2020-03-25 03:18] pullmoll commented on #20336
Oops, I of course extracted the ghc-bin-8.6.5_1.x86_64-musl.xbps and it seems to work so far. Currently running `make all` and will then try what `make binary-dist` gives me.

[2020-03-25 03:19] q66 commented on #20336
alright. Make sure to try building `ghc` with it before we put it somewhere.

[2020-03-25 03:19] pullmoll commented on #20336
Yep. I'll upload it to my `https://distfiles.voidlinux.de` and see if it works.

[2020-03-25 05:08] pullmoll commented on #20336
The first try failed. The [tarball](https://distfiles.voidlinux.de/ghc-8.6.5-x86_64-void-linux-musl.tar.xz) is missing lots of files. I'll try again without manually going to the chroot, but rather preparing everything, e.g. need `tar` and `xz` in the host, to finally `make binary-dist` in `post_install()` and copy the result.

[2020-03-25 06:11] pullmoll commented on #20336
Ok, second try resulted in a much larger tarball with all files it seems:
[https://distfiles.voidlinux.de/ghc-8.6.5-x86_64-void-linux-musl.tar.xz](https://distfiles.voidlinux.de/ghc-8.6.5-x86_64-void-linux-musl.tar.xz)
Checksum e335578cf199588dbfd5a3c678a4fc0b0d44ec83771a902a01e510b993b3e01e
Building `ghc-bin-8.6.5_2` for `x86_64-musl` worked for me.

I wonder if we should add a `build_option="bin

[2020-03-25 06:12] kartikynwa commented on #20314
Thank you very much for this @not-chicken

[2020-03-25 06:12] #20314 closed

[2020-03-25 06:19] pullmoll opened #20357 "Purge libllvm3.9 from repos"
We no longer have a template for `libllvm3.9` so we need to purge this package to get rid of staging. Also `icecat` should be purged as it can not be built with current `rust` and is quite outdated anyway.

[2020-03-25 07:51] Chocimier commented on #20357
I guess this is the issue @the-maldridge refers to as "shlibs problems" in defend of emptying packages over dropping template. If so, [automatically unindexing](https://github.com/void-linux/xbps-bulk/pull/2) packages with dropped template solves this issue as well.

[2020-03-25 08:13] the-maldridge commented on #20357
This is one of a handful of issues, but is the most pressing one.  It is 1AM here so I don't trust myself to run commands against the builders as root and not screw something up, but I'll handle it in the morning if no-one has gotten to it by then.

I'm not 100% sure the linked PR is safe in all cases, so I'd like to review further before adopting it as the solution for the future.  I do however t

[2020-03-25 09:14] codingHahn commented on #20102
@xtraeme Is it possible to 'require' a package from a multilib repo?

[2020-03-25 12:49] kernle32dll opened #20363 "fwupd: rebuild package"
Request to rebuild `fwupd`.

The updated libgusb 0.3.4 (0f961602b93d8ea8a930cc60362eeb8e5a344f57) is binary incompatible with 0.3.3, and causes https://github.com/fwupd/fwupd/issues/1805. Rebuilding `fwupd` with libgusb 0.3.4 should fix it.

Edit: More context: https://github.com/hughsie/libgusb/commit/377917fed85476d615f72279d0c97bc391d0f191

[2020-03-25 14:05] Duncaen commented on #20357
Removed both.

[2020-03-25 14:08] Duncaen commented on #20336
Replaced the previous archive on https://alpha.de.repo.voidlinux.org/distfiles/ with the new one.

[2020-03-25 14:08] q66 commented on #20336
the new tarball is now mirrored, i'll take care of properly bumping all the haskell things...

[2020-03-25 19:52] ericonr commented on #20363
You can make a PR changing the revision of the template, that should force a rebuild. It would also allow you to test the change locally before commiting. Otherwise I can do it later (should be pretty simple, too).

[2020-03-25 22:39] Francesco149 commented on #20336
the libffi issues appear to be mostly resolved as a lot of rev bumped packages came through today

[2020-03-25 22:41] q66 commented on #20336
yeah this is fixed (besides aarch64 builder, which has something wrong with it)

[2020-03-25 22:41] #20336 closed

[2020-03-26 02:04] pullmoll commented on #20357
Merci.

[2020-03-26 02:04] #20357 closed

[2020-03-26 08:15] Anachron opened #20375 "Can't install libreadline8: unresolvable shlib `libffi.so.6'"
Tried rebasing my samba4 branch and got this:

[code]

[2020-03-26 08:19] Anachron commented on #20375
Nvm, my git pull was faulty.

[2020-03-26 08:19] #20375 closed

[2020-03-26 09:40] mnabid commented on #20336
Still getting same error for `i686` .

...and another error in `aarch64` and `aarch64-musl`:
`=> ERROR: libffi-3.3_2: failed to fetch libffi-3.3.tar.gz.` I don't know why.

[2020-03-26 11:02] Duncaen commented on #20336
i686 should be unstaged now, aarch64 is still catching up.
https://build.voidlinux.org/waterfall

[2020-03-26 17:38] Piraty opened #20393 "xbps-src: does not recognize a git-worktree as a git-repo"
### Expected behavior
xbps-src doesn't care if run from the main repo or a worktree
### Actual behavior
xbps-src complains about not being run from a git repository a lot during builds.
[code]

I'm not 100% sure it leads to fatal build errors, but I remember to see build failures happen in worktrees which didn't occur when building in the main repo (I have yet to find a case to prove this); this m

[2020-03-26 19:57] #20363 closed

[2020-03-27 08:37] benalb opened #20401 "Package Request: darling"
https://darlinghq.org/
run macOS software on Linux, sort of wine for mac software.

https://wiki.darlinghq.org/build_instructions

[2020-03-27 09:01] AngryPhantom opened #20402 "Clipit (clipboard manager) is broken. Please update the package to 1.4.5"
Please, could someone fix **clipit** clipboard manager? Sorry, I don't know who's the maintainer so please tag him if you know.

### Steps to reproduce the behavior
1. Install Void MATE
2. Install Clipit
3. Add it to your autostart session (System -> Preferences -> Personal -> Startup Applications)

### Expected behavior
Clipit should start within the session

### Actual behavior
It doesn't work.

[2020-03-27 09:28] flexibeast commented on #20402
Void does not accept non-release versions (e.g. based on the state of a repository at a random commit) into the Void package repos, so the package cannot currently be updated. Try asking the ClipIt maintainer to tag a new release.

[2020-03-27 11:51] jalelegenda opened #20404 "Package Request: Zoom"
https://zoom.us/support/download

A Linux client for Zoom meetings.

[2020-03-27 11:53] Duncaen commented on #20404
We are not allowed to redistribute binaries per license.
It is already in the repository as [restricted](https://docs.voidlinux.org/xbps/repositories/restricted.html) package [srcpkgs/zoom/template](https://github.com/void-linux/void-packages/blob/master/srcpkgs/zoom/template).

[2020-03-27 11:53] #20404 closed

[2020-03-28 10:16] jarbowski opened #20415 "python3-pip issue"
hi,

### System
linux-lts fresh install from yesterday so I can't downgrade to try other versions

* xuname:  Void 4.14.172_1 x86_64 GenuineIntel notuptodate rrmFFFFFF
  *output of ``xuname`` (part of xtools)*
* package:  python3-pip-19.3.1_1
  *affected package(s) including the version*

### Expected behavior

### Actual behavior

python3-pip-19.3.1_1: configuring ...
Byte-compiling python3.8 cod

[2020-03-28 10:47] LinArcX commented on #13243
@CameronNemo https://github.com/elementary/gala/issues/659#issuecomment-598463569

[2020-03-28 12:48] LinArcX commented on #13243
I'm working on it...

[2020-03-28 15:13] #20415 closed

[2020-03-28 15:14] natrys commented on #19492
See #20212 .

[2020-03-28 19:38] Frick-David opened #20426 "Package Request: Liquidctl"
Liquidctl is a great little library for controlling the fans, AIO pumps, and RGB devices of a computer. They have helped me get my computer up and running! I am making a packaging request of behalf of the owner. I think it would be great if void added this package as it helps support more direct control of peripherals. It is a good substitute for similar programs that are known malware, and typica

[2020-03-28 20:37] #18381 closed

[2020-03-28 22:09] CameronNemo commented on #13243
WIP PR: https://github.com/void-linux/void-packages/pull/20429 . Please build and test, people!

[2020-03-28 23:00] LinArcX commented on #13243
It's not completed yet. I'm working on it.

[2020-03-29 09:21] lemmi commented on #19434
Closed in 7e42a51847e5f5fe5d5fca62b9f0f2b9c3016af6

[2020-03-29 09:21] #19434 closed

[2020-03-29 10:12] pullmoll opened #20438 "New cyclic dependency"
We have a new cyclic dependency: `pinentry` -> `gcr` -> `gnupg2` -> `pinentry`

The dependency is just a runtime dependency yet it prevents a bootstrapped arch (armv5tel here) from successfully breaking out of the cycle. Can we perhaps prevent runtime `depends=…` from creating such cycles?

[2020-03-29 13:40] thangthattha88 opened #20440 "Rainusb"

[2020-03-29 14:13] jnbr commented on #20440
Maybe try to use more than a single word to describe your issue.

[2020-03-29 14:28] #20440 closed

[2020-03-29 17:48] hfel commented on #11525
I have the same problem.

[2020-03-29 20:23] jarbowski opened #20448 "Packge Request: python-aubio"
hi,
the aubio package is quite uncomplete without this subpackage
in fact, the aubio command depends on it
thanks

https://github.com/aubio/aubio
https://aubio.org/manual/latest/cli.html#aubio
https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/aubio

[2020-03-29 20:34] jarbowski opened #20449 "Package Request: realtime-privileges"
hi,
i find the arch solution simple and efficient for realtime audio.
hope you'll agree.
thanks

https://git.archlinux.org/svntogit/community.git/tree/trunk?h=packages/realtime-privileges

[2020-03-29 23:33] st3r4g commented on #20438
I think `xbps-src` could be improved to handle such a scenario, which is not so uncommon. For example, `libglvnd` needs at least one GL vendor to work, but adding `depends=mesa` would introduce an endless loop at the moment.
One could detect the loop and break out of it, but it doesn't feel very elegant. Instead, what about making `xbps-src` build all the runtime dependencies **after** their "pare

[2020-03-30 04:05] ericonr opened #20452 "No package contains the crypttab manpages"
### Expected behavior

Some version of https://www.freedesktop.org/software/systemd/man/crypttab.html should be available in the system, possibly in the cryptsetup package.

### Actual behavior

No such man page is available.

### Steps to reproduce the behavior

`xbps-query -Ro crypttab` contains results only from `base-files` and configuration systems.

[2020-03-30 05:15] sgn commented on #20452
https://manpages.debian.org/buster/cryptsetup-run/crypttab.5.en.html#ON_DIFFERENT_CRYPTTAB_FORMATS

If cryptsetup themselves don't provides `crypttab(5)`, we needs to figure out what options they provide.

The link you provided is specified for systemd, I don't use crypttab at all even if I use FDE (except /boot)

[2020-03-30 10:08] toluschr opened #20460 "vivaldi: Not built from source"
### System
As far as I'm aware, the Vivaldi browser is partly open source.
https://vivaldi.com/source/

The package in the repositories uses a binary instead of building from source. Is there a reason for this?

I saw that the versions of the binary and the source code don't match.
Is a new package (perhaps `vivaldi-source`) needed?

* xuname:
  Void 5.5.13_1 x86_64 AuthenticAMD notuptodate rrrrmm

[2020-03-30 12:51] Johnnynator commented on #20460
Building it from source would still require it to be restricted, except you wanna fork it, remove all branding, etc... Nobody here as any interest in doing this.

[2020-03-30 13:55] toluschr commented on #20460
Makes sense

[2020-03-30 13:55] #20460 closed

[2020-03-30 14:28] jalelegenda opened #20462 "Package request: NetworkManager-fortisslvpn"
https://github.com/GNOME/NetworkManager-fortisslvpn

I need this, please kind sirs.

[2020-03-30 16:28] xtraeme commented on #20342
I guess someone updated it accidentally... heh

[2020-03-31 04:03] ericonr commented on #20452
Oh yeah, I know it's systemd specific, but it was the first result when I searched for the documentation. I will take a look and see where the cryptsetup package comes from. It would probably be preferable to have the man pages come from upstream, right?

[2020-03-31 10:18] ardadem opened #20490 "Package request: firefox-developer-edition"
https://www.mozilla.org/tr/firefox/developer/
Firefox Developer Edition has useful tools for web developers. Can we get this into repo?

[2020-03-31 11:18] daniel-eys commented on #20449
The `jack` package includes those realtime audio settings (udev-rules, limits).

[2020-03-31 11:25] jarbowski commented on #20449
oups, I missed the udev rule
thanks

[2020-03-31 11:25] #20449 closed

[2020-03-31 12:52] furryfixer commented on #20245
I have not followed any recent saga on this, just this post, but did a fresh install of XFCE yesterday and could not duplicate the problem.  It should not matter I think, but I installed elogind, dbus-x11, polkitd, instead of the packages you referenced.  Elogind should work whether you activate the runit service or not.  Polkitd and dbus (x11) services should be activated.  Sorry it this repeats

[2020-03-31 14:02] ericonr commented on #20452
At least on Manjaro, crypttab man file comes from systemd. cryptsetup doesn't have manpages for crypttab.

At least on my system, it's dracut that interprets the crypttab, but given that it's a project supposed to be used with systemd, they probably didn't feel the need to write their own version of the documentation. We can try to curate the parts of the documentation that are universal and the o

[2020-03-31 16:18] Tcll commented on #20245
hopefully my issue caused an unnotified fix (I've been waiting for a response on the matter)
I'll try again when I'm able to test, as I'm currently using the machine I tested with for other things atm.
(the machine I'm installing to can't boot USB drives, and I'm having an issue burning CDs with my primary as they can't be read)

and regarding that elogind bit, I actually tried running elogind as

[2020-03-31 16:21] xtraeme commented on #20245
[code]

works for me

[2020-03-31 18:41] daniel-eys commented on #20452
crypttab is done by the distribution's init system, so runit in void's case.
Void's crypttab wrapper is an awk script (`/etc/runit/crypt.awk`), where you can read, what cryptsetup options are wrapped.
For the documentaion of those options, see `man 8 cryptsetup`.

[2020-03-31 18:59] AlexCD17 opened #20505 "Nvidia 440.64 DKMS build fails for 5.6 kernel."
* xuname:
  Void 5.5.13_1 x86_64 GenuineIntel uptodate rrrrmmnFFFFF
* package:
  linux5.6-headers-5.6.0_2
  linux5.6-5.6.0_2
  nvidia-440.64_1
  nvidia-dkms-440.64_1

Hi! I tried the latest release of the 5.6 kernel but the DKMS module for the nvidia 440.64 drivers failed.
I'm using gcc and my /var/bin/cc dir points to gcc.

Here's the make log:
[code]

[2020-03-31 19:25] Chocimier commented on #20490
We distribute stable versions only, and this is testing line.

~ https://www.mozilla.org/en-US/privacy/firefox/#pre-release

[2020-03-31 21:16] mkohlhaas commented on #20087
Somebody beat me to the punch! :-)

[2020-03-31 21:16] #20087 closed

[2020-03-31 21:40] Chocimier opened #20508 "xbps-src does not build depends of subpackages"
This can lead to indexing package without its runtime dependencies being available (broken, misspelled, not yet build).
So depends of subpackages should be build, same as depends of main package.

On the other hand, building them can introduce cycles.

[2020-04-01 00:56] ericonr commented on #20452
@daniel-eys given that runit isn't really update anymore (which is fair), is there any place the docs could go to? I feel like requiring that people read an AWK script of all things to configure their crypttab kind of sucks :/

[2020-04-01 04:27] CameronNemo commented on #20508
This is particularly troublesome because subpackages more often than not depend on the main package.

[2020-04-01 09:03] xtraeme commented on #20508
The correct way is adding all build dependencies in the main pkg.

[2020-04-01 09:05] xtraeme commented on #20505
Please test #20504

[2020-04-01 10:43] Duncaen commented on #20508
Its about runtime dependencies, the assumption that all packages in the index are installable (ignoring ongoing shlib bumps) breaks because sub packages can have runtime dependencies that have not been built at the time xbps-src adds them to the index.

[2020-04-01 10:47] xtraeme commented on #20508
@Duncaen I'm aware. That's why the main pkg should have all deps. Maybe via `hostmakedepends`

[2020-04-01 10:55] Duncaen commented on #20508
I think it would probably more intuitive to just include depends on sub packages when checking build dependencies.
Using `hostmakedepends` would be for the wrong architecture, `makedepends` would work but as with `hostmakedepends` this adds extra useless installation time.

[2020-04-01 11:01] xtraeme commented on #20508
Another idea I had a while ago is, make `xbps-rindex -a` error out if it cannot resolve all dependencies... this would fix 99% of the issues.

[2020-04-01 11:05] xtraeme commented on #20508
@Duncaen sounds good, but as @Chocimier mentions above it will introduce lots of cycles.

[2020-04-01 11:36] daniel-eys commented on #20452
@ericonr Sorry, I should have been more precise. I meant void's runit init scripts, so this repo https://github.com/void-linux/void-runit. This would be the place for such a manpage.

[2020-04-01 15:16] AlexCD17 commented on #20505
It worked! Thanks

[2020-04-01 15:17] xtraeme commented on #20505
Please paste dmesg and xorg.0.log

[2020-04-01 15:19] VoidDuck opened #20547 "strawberry: missing translations"
Hello,

The Strawberry music player is missing its translations. The program will only run in English and the language selector is not present in the settings panel.

I tried the same Strawberry version on Solus Linux and the translations as well as the language switcher are available.

### System

* xuname:
  *Void 5.4.28_1 x86_64 GenuineIntel uptodate rF*
* package:
  *strawberry-0.6.8_2*

[2020-04-01 15:21] xtraeme commented on #20547
Missing gettext

[2020-04-01 15:27] q66 commented on #20547
will fix

[2020-04-01 15:33] #20547 closed

[2020-04-01 15:36] AlexCD17 commented on #20505
dmesg
[code]

xorg.0.log

[code]

[2020-04-01 17:19] ailiop-git opened #20556 "re-enabling statx support on coreutils"
Commit 9cd29dcf7e ("coreutils: disable statx() support on glibc.") disabled detection of statx support as a workaround, due to the kernel>=v4.11 requirement that breaks travis.

Restoring statx support in coreutils would be nice, as stat (1) and ls are able to report inode birth times only via statx.

@xtraeme not sure what the plan with travis is, but would it make sense to create a base-minimal-

[2020-04-01 17:47] xtraeme commented on #20556
Seriously this is bullshit

[2020-04-01 18:02] ailiop-git commented on #20556
so what is the issue with travis anyway? the config is pointing to bionic, which should run a recent enough kernel to support statx.

[2020-04-01 18:07] xtraeme commented on #20556
See xbps issues

[2020-04-01 18:53] ailiop-git commented on #20556
I assume you meant https://travis-ci.org/github/void-linux/xbps/jobs/669154357.

Ok, so in that case can we just build xbps on travis with `dist: bionic` and get rid of the workarounds?

[2020-04-01 19:06] xtraeme commented on #20556
Try it yourself

[2020-04-01 19:18] ericonr commented on #20452
All right, that sounds great! I will open an issue there and try to write a man page too. Thanks!

[2020-04-01 19:31] Chocimier commented on #20508
Depending on subpackage (like -data) from main package is already supported, so this won't be a problem.

What about treating depends of subpackages exactly like depends of main package, ie. build if missing but not install?

Checked for cycles. There is one connected component of 94 packages. Looks like breakable. Here is [tool I used](https://gist.github.com/Chocimier/de76441493ec7775c201dac0bb0

[2020-04-01 19:49] CameronNemo commented on #20508
I see how my concern was unfounded. This is a strange dependency:

[code]

[2020-04-01 20:04] Chocimier commented on #20508
It's for subversion-kwallet-auth apparently. But yes, cutting this unties all graph, leaving cycle of three packages, reported in #20438.

Unless method of founding cycles is wrong.

[2020-04-01 20:42] emacsomancer opened #20558 "Wireguard dkms fails on latest 5.4(.28)"
### System

* xuname:
`Void 5.4.28_1 x86_64 GenuineIntel uptodate hold rrrmDFFFFFFFFFFFFF`

* package:
  wireguard-dkms, linux5.4

### Expected behavior
Wireguard dkms builds.
### Actual behavior
Wireguard dkms fails to build for linux5.4.28
### Steps to reproduce the behavior
upgrade to latest 5.4 kernel

build log:
[code]

[2020-04-01 21:18] ailiop-git commented on #20556
https://travis-ci.org/github/ailiop-git/xbps/builds/669887920

[2020-04-02 05:24] thangthattha88 opened #20562 "Void-linux"

[2020-04-02 06:10] #20562 closed

[2020-04-02 08:52] Piraty commented on #20558
fixed in 924f40c056e94f1ec24cf0548f6932830c6586e1

[2020-04-02 09:29] sebu06 opened #20565 "mesa-20.0.3_1 Error starting CAESES"
### System

* xuname:
  Void 5.5.13_1 x86_64 GenuineIntel uptodate rrrrmdFFFF
* package:
  mesa-20.0.3_1

### Expected behavior
Up to Mesa 19.3.4_1 I was able to run CAESES (proprietary CAD system) without any problems. With the current Mesa-libs, CAESES fails to start.

### Actual behavior
The following error message appears:
`libGL error: MESA-LOADER: failed to open iris (search paths /usr/lib/x

[2020-04-02 09:40] xtraeme commented on #20556
hmm cool, can you please submit a PR in xbps? and then we can reactivate statx in coreutils.

[2020-04-02 09:54] xtraeme commented on #20565
what GPU is it?

[2020-04-02 10:02] sebu06 commented on #20565
00:00.0 Host bridge: Intel Corporation Xeon E3-1200 v6/7th Gen Core Processor Host Bridge/DRAM Registers (rev 08)
00:02.0 VGA compatible controller: Intel Corporation UHD Graphics 620 (rev 07)

[2020-04-02 10:07] sebu06 commented on #20565
btw: glxgears runs fine using the iris driver

[2020-04-02 11:12] xtraeme commented on #20556
@ailiop-git merged, thanks. Do you want to make the coreutils PR?

[2020-04-02 11:21] Johnnynator commented on #20556
Just as a note, we still have linux3.16 and linux4.9. And I think coreutils should work with them, as long as we still provide them.

[2020-04-02 11:23] pullmoll commented on #20556
Perhaps create a coreutils-legacy package which disables the statx(2) check and is built at the same time?

[2020-04-02 11:26] ailiop-git commented on #20556
hmm do we have any testing on those older kernels? I'd suspect there may be further problems with glibc being built on newer kernels and autodetecting features that are not necessarily available on a 3.16 kernel for example.

[2020-04-02 11:29] pullmoll commented on #20556
I do not test the 3.16 kernel, just make sure it can be built. I don't actually know if we have any users of this version.

[2020-04-02 11:32] xtraeme commented on #20556
Someone with glibc please test linux3.16.

[2020-04-02 11:35] #20490 closed

[2020-04-02 12:12] pullmoll commented on #20556
linux3.16 does not even boot on my (recent) hardware.
I'll try to catch any log but currently cannot test it here.

[2020-04-02 12:14] xtraeme commented on #20556
I'll test it, but I'm using musl and there shouldn't be any difference. glibc might have issues as @ailiop-git mentioned above.

[2020-04-02 12:17] ailiop-git commented on #20556
3.16 doesn't seem to be booting at all (getting stuck in early boot process after decompress/parsing ELF, and/or cold-rebooting). I can try to debug it later on a VM if there's still interest in having this kernel around, let me know.

3.18, 4.9 boot fine, and coreutils doesn't complain with statx enabled (glibc silently fallsback to stat).

BTW 3.18 isn't LTS upstream (@pullmoll should we conside

[2020-04-02 12:19] xtraeme commented on #20556
rofl my system reboots instantly after loading the initramfs

[2020-04-02 12:20] xtraeme commented on #20556
looks like 3.16 is completely broken, let's remove it.

[2020-04-02 12:20] pullmoll commented on #20556
Same here. I can not get a single log output :-P *agree to remove*
I wonder who requested it and never reported back that it didn't work.

[2020-04-02 12:22] xtraeme commented on #20556
@pullmoll as @ailiop-git mentions above the -legacy subpkg isn't required at all.

[2020-04-02 12:23] pullmoll commented on #20556
@ailiop-git 3.18? We don't have that or do we?
3.16 worked when I added it and perhaps a couple of version more.
@xtraeme ok, then let's merge @ailiop-git PR.

[2020-04-02 12:23] xtraeme commented on #20556
@ailiop-git linux3.18 was removed long ago from void-packages but looks like the binpkgs are still there. The void official repos are full of obsolete/removed pkgs...

[2020-04-02 12:24] xtraeme commented on #20556
I mentioned this issue lots of times to the admins in charge but nobody made any action...

[2020-04-02 12:26] xtraeme commented on #20556
this is on musl:

[code]

[2020-04-02 12:28] ailiop-git commented on #20556
same on glibc, i suppose infra needs a xbps-rindex -c crontab or something along those lines.

[2020-04-02 12:34] pullmoll commented on #20556
In case I wouldn't clean my repo on each update, I'd see ENOSPC more often.
Currently I am at 917GB of binary packages for all arches and the noarch brach ... yay.

[2020-04-02 12:40] xtraeme commented on #20556
rofl almost 1TB :-)

I've tested 4.4 and 4.9 successfully, obviously those kernels don't support sway... but I'm using xorg successfully.

[code]

[2020-04-02 12:40] xtraeme commented on #20556
I'm going to remove linux3.16, @pullmoll ok?

[2020-04-02 12:41] pullmoll commented on #20556
@xtrame go ahead.

[2020-04-02 12:47] xtraeme commented on #20556
done, @ailiop-git did you test coreutils stat(1) with statx on 4.4/4.9 then?

[2020-04-02 12:59] xtraeme commented on #20556
I just updated all kernels to the latest version, just in case :-)

[2020-04-02 13:25] ailiop-git commented on #20556
Linux ash 4.4.215_1 #1 SMP PREEMPT Sun Mar 1 08:34:51 UTC 2020 x86_64 GNU/Linux

$ strace -fe statx,fstat stat -t /
statx(AT_FDCWD, "/", AT_STATX_SYNC_AS_STAT|AT_SYMLINK_NOFOLLOW, STATX_ALL, 0x7fff1d37dda0) = -1 ENOSYS (Function not implemented)
fstat(1, {st_mode=S_IFCHR|0600, st_rdev=makedev(0x88, 0), ...}) = 0
/ 4096 8 41ed 0 0 801 2 17 0 0 1585834498 1582119865 1582119865 0 4096
+++ exited with

[2020-04-02 13:30] xtraeme commented on #20556
cool, thanks.

[2020-04-02 13:32] xtraeme commented on #20556
https://github.com/void-linux/void-packages/commit/0010d6d3e63b86eef3c8af05af2e19b7f8465744

merged, thanks!

[2020-04-02 13:32] #20556 closed

[2020-04-02 15:13] st3r4g commented on #20565
`MESA_LOADER_DRIVER_OVERRIDE=i965 ./CAESES` should tell the loader to load the old driver.
If this has no effect, another way is to create the following configuration file in `~/.drirc` (per user) or `/etc/drirc` (system-wide):
[code]

[2020-04-02 15:31] toluschr opened #20576 "virtualbox-ose-dkms: Build fails using linux5.6"
### System

* xuname:
  Void 5.6.2_1 x86_64 AuthenticAMD notuptodate rrrmFFFFFFFFFFFFFFFFF
* package:
  virtualbox-ose-dkms-6.1.4_1

### Expected behavior
Building works

### Actual behavior
Building doesn't work

### Steps to reproduce the behavior
Use kernel 5.6

It works fine with the following patches:
https://www.virtualbox.org/changeset/83471/vbox
https://www.virtualbox.org/changeset/83473/v

[2020-04-02 16:08] ericonr opened #20577 "Should ConsoleKit2 be removed?"
[ConsoleKit2](https://github.com/ConsoleKit2/ConsoleKit2) hasn't received any updates since 2017, which is quite worrying for a piece of software with that big of a scope. Its functionality has been superseded by elogind, and the only docs page that still refers to it is the one for session management under Xorg (which can be updated).

Running `xbps-query -RX ConsoleKit2` on armv6l-musl returned

[2020-04-02 16:13] sebu06 commented on #20565
Thanks - that helped.

[2020-04-02 16:13] #20565 closed

[2020-04-02 16:15] xtraeme commented on #20577
I mentioned this like 200 times in 3 months already...

The official voidlinux xbps repositories are full of obsolete/removed pkgs that aren't anymore in void-packages.

If any of  the admins in the @void-linux/void-ops group would run:

[code]

for any arch/repo, required size will be greatly reduced and there won't be broken packages.

I'm not an admin so the only thing I can do is mentioning th

[2020-04-02 16:16] ericonr commented on #20452
I will close this one because it doesn't pertain to this repo anymore.

[2020-04-02 16:16] #20452 closed

[2020-04-02 16:21] toluschr commented on #20576
I will just build experimental version from https://www.virtualbox.org/wiki/Testbuilds

[2020-04-02 16:22] xtraeme commented on #20577
Just to be safe, the script should do:

[code]

[2020-04-02 16:24] ericonr commented on #20577
Just found c2b89d6bff8 and its parent commit, sorry. Should I keep the issue open till it's removed?

Thanks for the quick response, though. I will try to update the docs accordingly.

[2020-04-02 16:27] xtraeme commented on #20576
This is still valid.

[2020-04-02 16:27] Duncaen commented on #20577
I clean the repositories regularly, but its also required to remove the package files that need to be purged.
Without a list I can run the cleanup script daily and nothing will change.

[2020-04-02 16:29] xtraeme commented on #20577
https://github.com/void-linux/void-infrastructure/blob/master/ansible/roles/buildmaster/templates/xbps-clean-repos.sh.j2

is this file used anywhere?

[2020-04-02 16:30] xtraeme commented on #20577
I don't know how the infra works really, the only thing I could do is trying to cleanup/update this script.

[2020-04-02 16:31] xtraeme commented on #20577
@Duncaen what list are you talking about?

[2020-04-02 16:32] xtraeme commented on #20577
@Duncaen are you saying that maybe `xbps-rindex` might need `-n/--dry-run` ?

[2020-04-02 16:32] Duncaen commented on #20577
Yes variations of it with the right architectures for each build server.

I did run those scripts [8 days ago](https://github.com/void-linux/void-packages/issues/20357#issuecomment-603858079) to clean the libllvm3.9 stuff.

But I need to rm the xbps archives to actually get those things out of the repo.

[2020-04-02 16:32] xtraeme commented on #20577
this script is missing some archs and repos, afaik.

[2020-04-02 16:33] Duncaen commented on #20577
removing the template from the xbps-src repository will leave the package archives behind, `xbps-rindex` doesn't know if the template still exists or not.

[2020-04-02 16:34] xtraeme commented on #20577
but we do have `xbps-checkvers -e` now:

[code]

[2020-04-02 16:35] xtraeme commented on #20577
@Duncaen I see what you are saying, we just need to improve the clean script to use `xbps-checkvers -e` as well.

[2020-04-02 16:40] xtraeme commented on #20577
[code]
on x86_64-musl

[2020-04-02 16:42] xtraeme commented on #20577
[code]
on x86_64 glibc

[2020-04-02 16:42] Duncaen commented on #20577
this includes debug and 32bit packages...

[2020-04-02 16:42] xtraeme commented on #20577
right, all them should be removed

[2020-04-02 16:54] xtraeme commented on #20577
@Duncaen I'm updating the clean script

[2020-04-02 17:00] the-maldridge commented on #20577
The file you linked above is in use.  void-linux/void-infrastructure#58 is to update it.  It needs to be templated for specific archs to clean since it has to run in 3 different places.  If you send a PR for an updated clean script, I can make sure the rest of the things around it are updated and it gets installed in the right places.

[2020-04-02 17:02] xtraeme commented on #20577
@the-maldridge ok, working on it.

[2020-04-02 17:06] xtraeme commented on #20577
@the-maldridge what do you mean by "It needs to be templated for specific archs to clean" ?

[2020-04-02 17:12] the-maldridge commented on #20577
Since the clean has to be run from an authoritative location, it can only clean things that that location is authoratative for.  In the current version there's an ARCHS variable up at the top, which needs to be set to "armv6l armv7l x86_64 i686" in one place "aarch64 aarch64-musl" in another, and "armv7l-musl armv6l-musl x86_64-musl" in a third.

[2020-04-02 17:16] xtraeme commented on #20577
ok

[2020-04-02 17:25] xtraeme commented on #20577
done, https://github.com/void-linux/void-infrastructure/pull/62

[2020-04-02 18:30] #20244 closed

[2020-04-03 00:48] Hyper-KVM commented on #20505
I just tried applying this patch to nvidia-vulkan (new package) and the dkms build fails for kernel 5.6.2.

[2020-04-03 07:41] #19192 closed

[2020-04-03 16:16] LinArcX opened #20601 "Package request: Akira"
Native Linux App for UI and UX Design built in Vala and Gtk :
https://github.com/akiraux/Akira

[2020-04-03 16:18] LinArcX opened #20603 "Package request: Spice-up"
Presentations App for the modern Linux Desktop :
https://github.com/Philip-Scott/Spice-up

[2020-04-03 16:19] LinArcX opened #20604 "Package request: Notes-up"
Markdown notes editor & manager:
https://github.com/Philip-Scott/Notes-up

[2020-04-03 17:36] not-chicken commented on #20601
Pre-release at the moment.

[2020-04-03 19:06] mamins1376 opened #20618 "wf-shell-0.3.1: wf-background: symbol lookup error"
I'm using Wayfire as display server. Trying to utilize any executable provided by `wf-shell` results in symbol lookup error. Maybe a linking error?

* xuname: Void 5.4.28_1 x86_64 AuthenticAMD notuptodate rrrmFFFFFFF
* package:  wf-shell-0.3.1

(_notuptodate_ because I use a tier 2 mirror.)

### Expected behavior
it should Just Work(TM).

### Actual behavior
[code]

Same also happens with both `wf

[2020-04-03 19:28] xtraeme commented on #20618
And this is the affected symbol: https://github.com/WayfireWM/wf-config/commit/211a86c35419871ca8d47c3d50d128a326e9d084#diff-dec55d1344f62aea304c7e727402c2e8L7

[2020-04-03 19:33] mamins1376 commented on #20618
Would a simple patch version bump fix trigger that? Maybe landing the fix by upstream repo takes place after an actual release

[2020-04-03 19:34] xtraeme commented on #20618
try to rebuild it with xbps-src, but I'm not sure if current wf-shell will be API compatible against wf-config-0.4.0. Otherwise apply the wf-shell-0.4 PR and build it.

[2020-04-03 19:35] xtraeme commented on #20618
our buildbot builder has died due to qt5!

[2020-04-03 19:48] xtraeme commented on #20618
@mamins1376 you should open the issue in wf-config not wf-shell :-)

[2020-04-03 20:04] mamins1376 commented on #20618
@xtraeme yea realized it a little bit late :) I'm confused, now `wf-config` should be bumped to 0.4.0._3 right?

[2020-04-03 20:13] xtraeme commented on #20618
No, apply the wf-shell-0.4 PR and build it locally.

[2020-04-03 22:03] gf3 commented on #16573
what is the proper solution? is there another discussion elsewhere?

[2020-04-03 22:44] marrub-- opened #20627 "cantata: symbol lookup error"
### System

* xuname:
  `Void 5.4.29_1 x86_64 GenuineIntel notuptodate rrrmFFFF`
* package:
  `cantata-2.4.1_1`

### Behaviour
When started, `cantata` crashes with:
[code]
Presumably there's something wrong with the dependencies.

### Steps to reproduce the behavior
Install `cantata` and run it.

[2020-04-03 23:14] Johnnynator commented on #20627
This should have been fixed with d8656b4850ac9fda9460207bfbca3b1b3342c1e8 , can you please update `neon` and recheck if the issue persists.

[2020-04-03 23:22] marrub-- commented on #20627
Yep, that fixed it, thank you!

[2020-04-03 23:22] #20627 closed

[2020-04-04 02:05] anjandev commented on #5444
I want to try brave as well on my void system. However, I think the concerns by the core team are valid. May I suggest that we create a seperate git repository with a brave template for xbps-src that people can build themselves?

[2020-04-04 02:07] the-maldridge commented on #5444
You may suggest it, but it won't happen.  Void has a single repo, which is the one that xbps-src reads from.  This is a fundamental difference in goals between Void and other projects such as Arch with its AUR.

For software outside of the repos I would suggest using technologies like AppImage or keeping the software in /usr/local, which xbps won't interfere with.

[2020-04-04 02:10] anjandev commented on #5444
@the-maldridge I was just suggesting a template file that people can copy to their `srcpkgs` folder.

[2020-04-04 02:17] the-maldridge commented on #5444
I think the problem you'd run into with that is that Brave is a firefox sized package.  Its not just a single file you can copy around, its a file and a stack of associated patches, and potentially even patched libraries.  You're welcome to try if it interests you, but its a huge undertaking to package an entire browser, and even more so to package something that's been forked and patched already.

[2020-04-04 07:24] dawidpotocki commented on #18612
Hi, it looks like the issue is fixed?

[code]

[2020-04-04 19:24] chriscamacho opened #20655 "lazarus dependencies pulls in libQt5Pas but not libQt5Pas-devel"
### System

* xuname:
  Void 5.5.15_1 x86_64 GenuineIntel uptodate rrrrmdFFFFF
* package:
  lazarus-2.0.2_1

### Expected behavior
 Lazarus requires the -devel version of the libQt5Pas package in order to compile anything using a form...

### Actual behavior
when trying to "run" a project you see
linker: /usr/bin/ld: cannot find -lQt5Pas

### Steps to reproduce the behavior
install lazarus, "run"

[2020-04-04 23:06] Max-FT opened #20662 "Attempting a system upgrade creates a package collision with qt5 and qt5-styleplugins"
### System

* xuname:
Void 5.4.29_1 x86_64 GenuineIntel uptodate rFFF
* packages:
  *qt5-5.14.2_2, qt5-styleplugins-5.0.0_11*

### Expected behavior
Uneventful update of the system
### Actual behavior
Upgrade errors with

[*] Updating repository `http://lysator7eknrfl47rlyxvgeamrv7ucefgrrlhk7rouv3sna25asetwid.onion/pub/voidlinux/current/x86_64-repodata' ...
x86_64-repodata: 1661KB [avg rate: 371KB

[2020-04-04 23:42] bugcrazy commented on #20662
Packages need to be rebuilt, using the new q5 libraries, the packages are in conflict, still use the old libraries!

doas  xbps-install -S falkon  libksysguard   ksysguard  qupzilla
[*] Updating repository `https://alpha.de.repo.voidlinux.org/current/x86_64-repodata' ...
[*] Updating repository `https://alpha.de.repo.voidlinux.org/current/multilib/x86_64-repodata' ...
[*] Updating repository `http

[2020-04-04 23:54] flexibeast commented on #20662
The build server is working on a Qt5 upgrade, which is taking quite some time. Check the waterfall for status updates: https://build.voidlinux.org/waterfall

[2020-04-05 00:01] Max-FT commented on #20662
Thanks @flexibeast, figured it was being built, but wanted to file an issue just to make sure

[2020-04-05 08:13] xtraeme commented on #20662
[code]
not an issue, just wait until the builders finish.

[2020-04-05 08:13] #20662 closed

[2020-04-05 08:13] xtraeme commented on #20505
#20504 has been merged, closing.

[2020-04-05 08:13] #20505 closed

[2020-04-05 10:28] mamins1376 opened #20668 "alacritty: Remove /usr/.crates2.json"
`alacritty-0.4.2_1` currently distributes a seemingly excess file `/usr/.crates2.json`. Feel free to close this if that's intentional.

[2020-04-05 16:02] emacsomancer opened #20673 "problems with zfs-0.8.3_2"
### System

* xuname:
Linux sushoma 5.4.29_1 #1 SMP PREEMPT Wed Apr 1 10:52:40 UTC 2020 x86_64 GNU/Linux
* package:
zfs-0.8.3_2, linux4.14

### Expected behavior
Properly rebuild dkms modules.
### Actual behavior
Dies while building DKMS module. Even worse, this means it doesn't try to rebuild DKMS modules for other kernels (ideally a DKMS module dying in some fashion shouldn't stop the other modu

[2020-04-05 16:04] xtraeme commented on #20673
Killed rofl

[2020-04-05 16:09] emacsomancer commented on #20673
It wasn't killed via user input, either the first time this occurred via `sudo xbps-install -Su` or via `sudo xbps-reconfigure -f linux4.14`.

[2020-04-05 17:04] ProjectMoon commented on #11624
I'm having this issue on KDE on X11. In Wayland, the indicators work fine. Both Riot and Signal Desktop output a complaint about dbus when starting up on X11, but not on Wayland.

The error is: `Unable to get the session bus: Unknown or unsupported transport “disabled” for address “disabled:”`

I don't know if it's the same root cause as other people in this issue, but maybe it is helpful.

[2020-04-05 17:23] nbmvoid opened #20676 "NVIDIA 440.64 broken (linux-lts 4.14.174_1)"
I have tried with xbps-reconfigure -f nvidia-dkms and didn't work either

xbps-reconfigure -f nvidia-dkms
nvidia-dkms: configuring ...
DKMS module 'nvidia-440.64' already added, skipping.
Building DKMS module 'nvidia-440.64' for kernel-4.14.174_1... FAILED!
DKMS module 'nvidia-440.64' failed to build, please check /var/lib/dkms for errors in the log file.
Regenerating initramfs, please wait...
nvi

[2020-04-05 17:25] xtraeme commented on #20676
nvidia-440.64_2 added support for linux5. 6

[2020-04-05 17:29] nbmvoid commented on #20676
Then I might need to downgrade to nvidia-440.64_1
thanks

[2020-04-05 17:31] xtraeme commented on #20676
Well, that was our version.

[2020-04-05 21:26] ahesford commented on #20673
The `zfs-0.8.3_2` DKMS builds for me with `linux4.14-414.174_1` on x86_64. Your text references `linux4.14`, but your output refers to `linux4.19`. I've had no problems building against either. Can you reconcile the difference and see if there is a DKMS build log in `/var/lib/dkms/zfs/0.8.3/build/make.log` that explains the error?

[2020-04-06 02:13] emacsomancer commented on #20673
I was eventually able to get them to build, and so I didn't see anything in the DKMS build log after that. I'll keep an eye on it and re-open if I have something definitive.

[2020-04-06 02:13] #20673 closed

[2020-04-06 05:24] #18610 closed

[2020-04-06 05:24] yakthungba commented on #18610
Seems this has been resolved.

[2020-04-06 05:54] paxet opened #20687 "gnome-passwordsafe 3.32 and pykeepass 3.1+ are incompatible"
### System

* xuname:
  Void 5.6.2_1 x86_64 GenuineIntel notuptodate rrFF
* package:
  gnome-passwordsafe 3.32.0_3
  python3-pykeepass-3.2.0_1

### Expected behavior
Open a keepass database without error

### Actual behavior
Throws an error when loading database.
[code]
Link to Password Safe issue: https://gitlab.gnome.org/World/PasswordSafe/-/issues/128

### Steps to reproduce the behavior
Launch

[2020-04-06 06:12] bobertlo opened #20689 "hplip: crashes"
[code]

Seems to be a regression of https://github.com/void-linux/void-packages/commit/687e3c21c6cacf52b18782a30f43b9883b098b21

That directory did not exist, and creating it solved the issue. I don't know why this is happening.

[2020-04-06 06:57] travankor opened #20690 "Icecat 68"
@pullmoll

For reasons unknown to me, the upstream icecat tarball is at 60, while there is a separate branch for [icecat 68](https://git.savannah.gnu.org/cgit/gnuzilla.git/log/?h=68).

I think void should switch to this branch unless there's a strong reason not to, due to all of the zero-day vulnerabilities in firefox.

[2020-04-06 07:28] #20668 closed

[2020-04-06 07:59] xtraeme commented on #20618
fixed by #20592

[2020-04-06 07:59] #20618 closed

[2020-04-06 12:58] pullmoll commented on #20690
I cloned their repository and ran `./makeicecat` to create a tarball `icecat-68.6.1-gnu1.tar.bz2` which I put on [my distfiles servers](https://distfiles.voidlinux.de/icecat-68.6.1/icecat-68.6.1-gnu1.tar.bz2).

Now I'm trying to build it yet I don't see where I could get the `i18n` files from or how to generate them. I guess we need to get rid of the `*.xpi.sig` downloads and use `firefox-esr-i18n

[2020-04-06 19:55] maciozo opened #20704 "wf-shell 0.4.0 fails to install without gtk-layer-shell"
### System

* xuname:
  `Void 5.4.28_1 x86_64-musl AuthenticAMD/VM notuptodate rF`
* package:
  * wf-shell 0.4.0 #20592
  * gtk-layer-shell

### Expected behavior
Installing `wf-shell` should work.

### Actual behavior
[code]

Installing `gtk-layer-shell` on its own beforehand allows `wf-shell` to be installed.

### Steps to reproduce the behavior
Run `xi wf-shell` or `xbps-install -S wf-shell` on

[2020-04-06 19:55] xtraeme commented on #20704
https://github.com/void-linux/void-packages/commit/38ca0b973caa56ce6b0745ed0ea25076a1b57f12

[2020-04-06 19:55] #20704 closed

[2020-04-06 22:56] ianayl opened #20710 "Python3 can't import anything from PyQt5 (breaks Qutebrowser)"
### System

* xuname:
  ``Void 5.4.27_1 x86_64 GenuineIntel uptodate rFFFFF``
* package:
  - ``python3-PyQt5-5.13.2_2``
  - ``qutebrowser-1.10.1_1``

### Expected behavior
This command
[code]
should just work without any issues? Importing anything from PyQt5 should just work
### Actual behavior
[code]
Python starts to freak out instead and tells me this file doesn't exist. Any programs using PyQt5

[2020-04-07 00:35] ahesford opened #20711 "zfs 0.8.3_2, linux5.5 may fail to boot with encryption (tracking issue)"
I'm creating this issue to document and track a potential incompatibility between `zfs-0.8.3_2`, `linux5.5` and encryption. On the `#voidlinux` IRC channel, user `w1kl4s` reported that a system with an unencrypted boot partition and an encrypted root fails to boot `linux5.5` with `zfs-0.8.3_2` and `zfsbootmenu`, although the same problem reportedly affects a system using `rEFInd` without `zfsbootm

[2020-04-07 01:15] q66 commented on #20710
works here:

[code]

[2020-04-07 01:36] ianayl commented on #20710
ohhhh, crap, so I'm actually dumb. I thought it was a python issue, so I uninstalled and reinstalled python qt stuff over and over again, turns out it was my qt5 stuff that was screwed up, not python qt stuff.

Well, thanks a lot man, that was dumb, sorry for this "issue"

[2020-04-07 01:36] #20710 closed

[2020-04-07 02:36] emacsomancer opened #20714 "foliate executable has unintuitive name"
### System

* xuname:
  *Void 5.4.29_1 x86_64 GenuineIntel uptodate hold rrrmDFFFFFFFFFFFFFF*
* package:
  *affected package(s) including the version*

### Expected behavior
run [Foliate](https://johnfactotum.github.io/foliate/") via `foliate` or similar
### Actual behavior
Foliate must be run as `com.github.johnfactotum.Foliate`
### Steps to reproduce the behavior
Install `foliate`

(I'm not sure

[2020-04-07 03:01] ahesford commented on #20711
Looks like this may have been a fluke... some testing shows that removing and reinstalling `zfs` (after trying a few modified versions of the package) eliminated the problem on a system known to demonstrate the problem earlier. I suspect `dracut` was not pulling the ZFS kernel modules into the initramfs during `xbps-reconfigure` but have no proof yet.

I'll try to get a little more information fro

[2020-04-07 03:54] not-chicken commented on #20714
Renaming the executable alone won't work. The binary name has been hardcoded mulitiple times in the source.

[2020-04-07 04:16] JesMJM opened #20717 "micro has wrong version"
Micro from the repositories:
[code]
This leads to errors when installing plugins, as micro performs version checking against plugins:
[code]
The output should be something like:
[code]

See https://github.com/zyedidia/micro/issues/1582

[2020-04-07 04:51] sgn commented on #20714
[I'm not the pkg-commiter]
If I were you, I would do like this: https://github.com/sgn/void-packages/commit/d505b965040159558934d37d12b93cc2cc39fdc4

[2020-04-07 08:36] travankor commented on #20690
Closing, since this is fixed.

I guess the issue on how to deal with distfiles still remains, but I don't know how to fix it.

[2020-04-07 08:38] travankor commented on #20690
Oh woops, `i18n` is still not fixed. My bad.

[2020-04-07 11:04] Duncaen opened #20728 "glibc and rpcsvc-proto /usr/bin/rpcgen conflict"
Both packages provide `/usr/bin/rpcgen`, some packages use `rpcsvc-proto` in `hostmakedepends` to be able to build on musl.

I think it should be removed from glibc, put into a sub package or use alternatives.

[2020-04-07 11:15] #20717 closed

[2020-04-07 11:19] Duncaen commented on #20714
This assumes nothing else would possibly try to execute this program.
I think keeping the name and adding a symlink to `/usr/bin` is generally a better approach and is done by archlinux.

[2020-04-07 12:01] emacsomancer commented on #20714
This was my local solution.

[2020-04-07 12:36] pullmoll commented on #20690
I tried to package the firefox-esr-i18n files for icecat-i18n. Perhaps you @travankor can find out and test if/how to use them or if we need to do anything else about it?

[2020-04-07 15:29] ahesford commented on #20711
Confirmed with the original reporter that `dracut` did not pulling in the ZFS modules on the affected system. This does not seem to be a problem caused by the `zfs` package.

[2020-04-07 15:29] #20711 closed

[2020-04-08 03:52] pullmoll opened #20741 "[FTBFS] mysql cross build (ppc64)"
It fails after `[  9%] Built target GenYaccEmbeddedSource` here.
Already tried to add a line `bison --update sql/sql_yacc.yy` because that file gave a warning.

The real problem is, as always with cmake it seems, very well hidden and the error message tells exactly nothing (Error 2) - at least to me.

[code]

[2020-04-08 04:27] q66 commented on #20741
native build works fine here

i encountered something similar before (bison/flex having messed up output) and the reason was them being miscompiled somehow, if you're using your own packages, i'd rebuild `bison` and then `flex` with `-f` and try again

[2020-04-08 05:30] xtraeme commented on #20676
440.82 from nvidia released.

[2020-04-08 05:30] #20676 closed

[2020-04-08 05:31] paxet commented on #20687
Thank you, solved.

[2020-04-08 05:31] #20687 closed

[2020-04-08 06:26] flexibeast opened #20744 "cmus: Starting CMUS without a session bus results in MPRIS error"
Installing and running `cmus` from the console results in an error message: "an error occured while initializing MPRIS". [This line of the cmus source](https://github.com/cmus/cmus/blob/d1290d50f9f7585c43b9e1326c0d6d1e0b4583f6/mpris.c#L491) suggests that `cmus` requires the presence of a session bus (cf. [the documentation for `sd_bus_default_user`](https://www.freedesktop.org/software/systemd/man

[2020-04-08 11:34] travankor commented on #20690
seems like revision 2 fixec it -- I guess the repo sync or build servers were not consistently up to date yesterday.

Thanks, pullmoll.

[2020-04-08 11:34] #20690 closed

[2020-04-08 11:39] #20741 closed

[2020-04-08 11:45] pullmoll commented on #20741
That didn't help but twiddling with the build rules for host vs. target binaries fixed it.

[2020-04-08 16:07] nbmvoid commented on #20676
440.82_1 works perfectly with 4.14.174_1
thanks!!

[2020-04-08 21:15] LamaRaz commented on #198
apparmor still stops dhcpcd from working... 2 years later?

[2020-04-09 02:04] sgn opened #20776 "fwupdate: no longer buildable, abandoned upstream"
[code]

is no longer buildable with gcc-9

It's abandoned upstream: https://github.com/rhboot/fwupdate/pull/136

[2020-04-09 04:03] sgn commented on #20393
Worktree create by `git-worktree(1)` will use a file named `.git`, contains:

    gitdir: $XBPS_DISTDIR/.git/worktrees/<worktree-name>

In chroot, we couldn't navigate to that path, hence the errors.

We could fix this by mounting outer `$XBPS_DISTDIR` to inner

[2020-04-09 04:35] sgn commented on #19642
It's postgresql.
[code]

[2020-04-09 05:24] bobertlo commented on #20689
I'm just confused because it looks like it should be created by the package? I don't know why this is an issue. I ended up setting up the printer through the CUPS web interface before tracking this down.

[2020-04-09 06:27] magnusshtebner opened #20778 "Package requests: minigalaxy"
GOG client for Linux.
https://sharkwouter.github.io/minigalaxy/

[2020-04-09 07:20] keshto opened #20780 "acpid and elogind don't play well with suspend"
### System

* xuname:
  *output of ``xuname`` (part of xtools)*
`Void 5.6.2_1 x86_64 GenuineIntel uptodate rFF`
* package:
  *affected package(s) including the version*
[code]

### Expected behavior
Opening the laptop lid resumes the system
### Actual behavior
It wakes, but then suspends again almost instantly
### Steps to reproduce the behavior
There is a conflict between acpid and elogind. In /e

[2020-04-09 07:23] keshto commented on #20780
@xtraeme pinging you in

[2020-04-09 07:26] xtraeme commented on #20780
There's no issue here, elogind provides the acpid functionality... you shouldn't have both services enabled at the same time.

[2020-04-09 08:12] Piraty commented on #20393
is the chroot really required to know if there's a git directory? @xtraeme ?

[2020-04-09 08:21] sgn commented on #20393
On 2020-04-09 01:13:10-0700, Piraty <notifications@github.com> wrote:

There're 2 information xbps-src needs to get from git:

- `SOURCE_DATE_EPOCH` (`common/environment/setup/git.sh`),
  this can be work-around by calculate it from outside,
  then export into chroot
- `gitrev` metadata for the package
  (`common/hooks/post-install/05-generate-gitrevs.sh`),
  this will be run in `pkg` step,
  we c

[2020-04-09 10:17] Uriel12 opened #20789 "installation syntax errors for gnome-passwordsafe"
### System

* xuname:
  *Void 5.4.29_1 x86_64 AuthenticAMD uptodate rrrmFFFF*
* package:
  *gnome-passwordsafe version: 3.99.2*

I did not see in the template file for gnome-passwordsafe any deviation from the upstream source.
So maybe the error messages should be filed with the upstream project.

The syntax errors mostly should be fine if my limited understanding of python3 is correct.
But maybe

[2020-04-09 16:28] Snektron opened #20796 "Package Request: LLVM 10"
LLVM 10 recently got released: http://releases.llvm.org/
This includes libllvm, clang, lld, and libc++.

[2020-04-09 19:16] keshto commented on #20780
Only had acpid enabled, but I guess elogind gets started by something else. Removing acpid and adding elogind does indeed fix the conflict, but now suspend takes a good 10+seconds after the lid is closed to kick in and I will debug that further. Maybe there should be a conflict warning in elogind if acpid is enabled/running?

[2020-04-09 20:03] ProjectMoon commented on #11624
It should also be noted they work fine in Sway, if Sway is run via `dbus-run-session`. So it seems like some kind of issue with starting dbus properly when logging in to KDE for some reason.

[2020-04-09 22:01] keshto commented on #20780
Closing as this is a documentation/user error/packaging request. Let me know if there is anything I can do to make this clearer.

[2020-04-09 22:01] #20780 closed

[2020-04-09 22:04] keshto commented on #20776
What is the action item you would like?

[2020-04-09 22:11] keshto commented on #20308
https://github.com/void-linux/void-packages/blob/master/srcpkgs/wireshark/template#L67 I believe that this is the case already?

[2020-04-10 01:04] sgn commented on #20776
On 2020-04-09 15:04:47-0700, Krsna Mahapatra <notifications@github.com> wrote:

Just remove it.

[2020-04-10 01:44] keshto commented on #20776
Ok, will get a MR out.

On April 10, 2020 1:04:46 AM UTC, Danh Doan <notifications@github.com> wrote:

[2020-04-10 04:55] wundrweapon commented on #791
Tried this, but updated to the lastest version of the tar file. No dice, curiously because xbps can't find the `tar` command

[code]

[2020-04-10 05:35] anjandev commented on #19642
@sgn thank you for investigating. I will rebuild on my pinebook pro and let you know if this issue has been fixed.

[2020-04-10 07:11] travankor commented on #20780
void-docs is the right place to open an issue... btw the long suspend time with logind affects all systemd distros if you do some searching.

[2020-04-10 07:20] kartikynwa opened #20820 "megatools: stable version doesn't work anymore"
Mega.nz changed their link format which renders the current stable version (1.10.2) broken.

This is fixed in the experimental version of the software which the author suggests using on [the project's homepage](https://megatools.megous.com/), emphasis mine:

I have created a template for the experimental builds [HERE](https://github.com/kartikynwa/void-packages/blob/megatools/srcpkgs/megatools/tem

[2020-04-10 09:22] LinArcX opened #20824 "Package request: badger"
An app to remind you to be ergonomic:
https://github.com/elfenware/badger

[2020-04-10 09:24] LinArcX opened #20825 "Package request: planner"
Task manager with Todoist support designed for GNU/Linux:
https://github.com/alainm23/planner

[2020-04-10 09:28] LinArcX opened #20826 "Package request: byte"
A Music Player:
https://github.com/alainm23/byte

[2020-04-10 09:31] LinArcX opened #20827 "Package request: rakugaki"
Want to just draw, sketch or doodle? This is the tool for you!
https://github.com/lainsce/rakugaki

[2020-04-10 09:40] LinArcX opened #20828 "Package request: notejot"
Stupidly-simple sticky notes applet:
https://github.com/lainsce/notejot

[2020-04-10 09:42] LinArcX opened #20830 "Package request: timetable"
Plot out your own timetable for the week and organize it:
https://github.com/lainsce/timetable

[2020-04-10 09:47] r0m3chco commented on #11525
me too

[2020-04-10 09:52] LinArcX opened #20831 "Package request: Wammer"
Jamming your WiFi network:
https://github.com/RonnyDo/Wammer

[2020-04-10 10:13] LinArcX opened #20832 "Package request: raddiu"
Radio program for GNU/Linux made in gtk3:
https://github.com/ranfdev/raddiu

[2020-04-10 10:18] LinArcX opened #20833 "Package request: nutty"
A Network Utility:
https://github.com/babluboy/nutty

[2020-04-10 10:21] LinArcX opened #20834 "Package request: fondo"
Wallpaper App for Linux:
https://github.com/calo001/fondo

[2020-04-10 10:24] LinArcX opened #20835 "Package request: ciano"
A multimedia file converter focused on simplicity:
https://github.com/robertsanseries/ciano

[2020-04-10 18:58] ndgnuh commented on #12749
Has anyone working on this yet?

[2020-04-10 20:18] 0xatul opened #20853 "Package request: Jadx"

[2020-04-10 20:47] ericonr commented on #20744
Do you have the dbus service enabled?

[2020-04-10 23:33] Max-FT opened #20858 "Regression in Mumble 1.3.0_3"
### System

* xuname:
  *Void 5.6.2_1 x86_64 GenuineIntel uptodate rFFF*
* package:
  *Mumble 1.3.0_3*

### Expected behavior
Mumble starts up in a second or so (on a SATA SSD)

### Actual behavior
Significantly delayed start up, due to mumble trying to connect to the JACK daemon when it isn't installed w/ output

Cannot connect to server socket err = No such file or directory
Cannot connect to se

[2020-04-11 00:12] vimalamp commented on #20776
I removed it:
https://github.com/void-linux/void-packages/pull/20859

[2020-04-11 00:34] flexibeast commented on #20744
This issue doesn't affect me personally; it was reported by someone on #voidlinux, who encountered it after trying to run cmus from the console on a fresh Void install.

i found that enabling the `dbus` service made no difference, which makes sense to me: to make use of the system bus, the cmus code would need to be calling `sd_bus_default_system` instead of `sd_bus_default_user`.

My *inclination

[2020-04-11 02:11] ScrelliCopter commented on #20858
Looks like Mumble 1.3.0 always tries to connect to JACK on startup regardless of backend settings.
Seems this was fixed upstream in https://github.com/mumble-voip/mumble/pull/3990 in master.
I'll try patching 1.3.0 with this change and see if it fixes the problem.

[2020-04-11 03:01] ericonr opened #20861 "Why aren't some graphics packages built for armv6l? (Broken dependencies in packages due to this)"
### System

Void 4.19.113_1 armv6l-musl Unknown uptodate rFFFFF

### Expected behavior

All the packages necessary for a proper graphical session should be available for this arch.

### Actual behavior

At least these packages aren't built for it:

* complete `mesa-dri` subpackage (the VC4 driver is excluded)
* `xorg-server-xwayland` subpackage

Not building `xorg-server-xwayland` for it made it n

[2020-04-11 04:34] #20604 closed

[2020-04-11 06:18] #20858 closed

[2020-04-11 07:26] st3r4g commented on #20861
As for mesa, it seems that after version `17.1.8` (so in August 2017) the `vc4` driver was excluded from `armv6l` (the old package is still in the repo because someone forgot to purge it). If it works for you know it should be enabled.
The `armv7l` `mesa-vc4-dri-dbg` package should just be removed, we transitioned to a unified `mesa-dri` package, the debugging symbols are in `mesa-dri-dbg`

[2020-04-11 11:52] datenwolf opened #20875 "Vulkan-Tools-1.2.135_1 has a regression in `vulkaninfo`: no output for headless configuration"
There is a regression in the official Vulkan-Tools-1.2.135, that breaks this behavior. This regression has been fixed in the current git master HEAD (v1.2.135-21-g490e3937) however no release yet.

The most recent official version without that regression is tag v1.2.133 (git 16cf5591e399aed1de1401150cd47264132e6e0b)

### System

* xuname:  Void 5.4.29_1 x86_64 GenuineIntel notuptodate rrrrrmmdnFFF

[2020-04-11 14:32] yopito opened #20878 "cmake build style doesn't allow to choose source dir"
### System

* xuname:  Void 5.4.31_1 x86_64-musl GenuineIntel uptodate rrnFF

* package:  packaging shiboken2 update to 5.14.2 (WIP)

### Expected behavior

want to use cmake with sources of a subdir of $wkrsrc via `-S` cmake flag:
[code]
### Actual behavior

`-S <subdir>` has no effect.

### Additional details

xbps-src append "`../`" to cmake arguments unconditionally.
Resulting command is somet

[2020-04-11 14:43] pullmoll commented on #20878
Can't you use `build_wrksrc="sources/shiboken2"` here?

[2020-04-11 17:33] svenper commented on #11963
If a system update is involved, have you tried regenerating formats etc?
[code]

My impressions:

[code]
 looks wrong, there should be only one font name, i.e. one of
[code]

and there is no need for
[code]
since script should be detected automatically by unicode range.

This works for me:™

[code]

I would recommend asking on [tex.stackexchange.com](https://tex.stackexchange.com), that's where th

[2020-04-11 19:07] yopito commented on #20878
nope: need to manage source dir at the configure step, not the build one.

[2020-04-11 19:08] xtraeme commented on #20878
so let's modify `build-style/cmake.sh` then!

[2020-04-11 20:12] toluschr opened #20892 "Package request: K-Games"
The games made by KDE (https://kde.org/applications/games) feature some old games, including Tetris, Pacman, Bomberman, Minesweeper and others.
I'd like to have them included in the repos beside the GNOME-Games and am willing to create the packages myself. Is there a need for them?

[2020-04-11 20:18] ericonr commented on #20820
AFAIK Void doesn't like using non released software. Is there even a tentative "semi-stable" tag for commits after the fix?

[2020-04-11 20:56] pullmoll commented on #20878
Despite its name `build_wrksrc` is a modifier for all steps, not just build. See `common/xbps-src/shutils/common.sh` and there `ch_wrksrc()` which is called from every `run_step()`.

[2020-04-11 21:23] yopito commented on #20878
I was not aware of that.
But within its `do_configure()` , cmake.sh (re)changes current dir to $cmake_builddir, so `build_wrksrc` is is not relevant in this case:

[code]

[2020-04-11 21:41] pullmoll commented on #20878
Hmm... I think it's just that instead of `:=build` there should be something like `$PWD/build` which would then create the `build` directory below the possible `build_wrksrc`sub-directory inside `$wrksrc`, or just below `$wrksrc`. Anyway, this should be fixed in a way that doesn't complicate things :)

[2020-04-12 00:00] ericonr commented on #20577
Can I leave the missing archs here? Using ConsoleKit2 as the diagnosis for their status, the archs that haven't been updated:

* aarch64: glibc and musl
* armv6l and armv7l: musl
* x86_64: musl

[2020-04-12 04:48] emacsomancer commented on #17891
It was some sort of configuration issue specific my Firefox (probably userChrome?). A refresh resolved it.

[2020-04-12 04:48] #17891 closed

[2020-04-12 10:05] aajonusonline opened #20912 "iwd: stderr spam to tty1"
Same behavior as [#11928](https://github.com/void-linux/void-packages/issues/11928)

### Proposed change
Adding `> /dev/null 2>&1` to the last line of `iwd`'s `run` script seems to sovle the problem

from
`exec /usr/libexec/iwd ${OPTS}`
to
`exec /usr/libexec/iwd ${OPTS} > /dev/null 2>&1`

[2020-04-12 13:11] Hoshpak commented on #20892
I don't think there's a specific need for them however some people will certainly appreciate having them available. Some of them are already packaged. If you feel like it, please go ahead and create PRs for the packages.

[2020-04-12 19:20] ericonr opened #20930 "Restructure dependencies on elogind"
As was agreed when writing the Wayland docs page, elogind is a requirement for a safe wayland session. Therefore, should we make elogind a dependency of the wayland package itself?

Packages like Sway currently have it as a build option, defaulting to a setuid binary instead. Cage, on the other hand, doesn't enable setuid, so it definitely requires elogind (at least in its current state). However,

[2020-04-12 20:10] zeliklil commented on #12885
I am using Alpine, but uninstalling `dconf` fixed it for me.

Also, I think the password related crash is related to [this](https://bugzilla.mozilla.org/show_bug.cgi?id=1616780).

[2020-04-12 20:18] st3r4g commented on #20930
It is indeed recommended in https://github.com/swaywm/sway/wiki/Running-Sway-without-systemd
I wouldn't add it to the `wayland` package, but to each compositor individually, because libwayland only requires `XDG_RUNTIME_DIR` to be set (both client and server need to know the socket path).

[2020-04-12 21:25] ericonr commented on #20930
What other way of setting up `XDG_RUNTIME_DIR` would you suggest? I feel like adding elogind to all the compositors instead of to their common library (which is the part that actually reqiuires `XDG_RUNTIME_DIR`) is duplicated effort. In this case whoever packages another wayland compositor will have to know to add it as a dependency. Just now I realized we'd also have to update Wayfire.

And Wayl

[2020-04-12 21:44] Johnnynator opened #20935 "[RFC] Switching back to OpenSSL"
OpenSSL nowadays doesn't have the issues anymore it had back in 2015 and significantly more Contributors watching and improving it. LibreSSL usually lacks behind in terms of supported algorithms and doesn't support the same API. Libs like Qt dropping support for OpenSSL 1.0 makes it significantly harder to maintain a (correct) patchset for LibreSSL support.

### OpenSSL Pros

* Not that many (pote

[2020-04-12 21:55] travankor commented on #20930
FWIW, the creator of sway does not use elogind (or systemd).

That said, wlroots-based compositors should have consistent behaviour wrt elogind or setuid.

I think setuid was only recently added to cage.

[2020-04-12 21:57] st3r4g commented on #20930
Well, if you want to follow the XDG spec pedantically there is no simple manual way that I know, because iirc it requires login aware stuff like creating the folder at first user login and deleting it after the last log out. But I don't think this actually matters so much for `libwayland`, it's just a way to have a standard path where to put/discover the socket. It's not even a strict `libwayland`

[2020-04-12 23:28] ericonr commented on #20930
@travankor at least for the sway package, setting setuid for it is determined by the template. Do you mean that Cage has only recently gained the capability of being setuid? Because the package definitely doesn't set it.

@st3r4g I actually really like the idea of adding elogind as a dependency of wlroots. GNOME and KDE already require elogind, so the only compositor that wouldn't require it is we

[2020-04-13 00:45] travankor commented on #20935
Another advantage: OpenSSL is switching to a license the OpenBSD consider [non-free](https://www.openbsd.org/policy.html) (Apache-2.0, which Void considers free). This means the codebase between openssl and libressl is more likely to diverge.

I think having better software and hardware support (ie: aarch64 crypto acceleration) is more useful for Void than security (not that openssl is super insec

[2020-04-13 00:46] xtraeme commented on #20935
Cons: openssl needs perl to build

[2020-04-13 00:48] protonesso commented on #20935
bruh

[2020-04-13 00:55] q66 commented on #20935
I'd argue that OpenSSL is safer, since it just gets a lot more attention and audit nowadays. Since heartbleed a lot of attention has gone to OpenSSL, it's probably one of the better-audited projects nowadays.

The performance increase on non-x86_64 platforms is not "potential", it's there; OpenSSL has optimized assembly code for most architectures, in addition to plain C fallbacks - LibreSSL does

[2020-04-13 07:42] svenper commented on #12885
Uninstalling `dconf` worked for me as well! I haven't had the password crash for a while though

[2020-04-13 08:36] yopito commented on #20878
my bad !
As suggested by @pullmoll : `build_wrksrc` is working perfectly fine in this case.

FTR, my `template` is now:
[code]

... let's close this non-issue

[2020-04-13 08:36] #20878 closed

[2020-04-13 08:58] pullmoll commented on #20935
I had myself several times where it was difficult to see in which way patching a source for libressl would be correct. This is because I do not know every detail of the differences between the openssl versions 1.0.x and 1.1.x, and the libressl API lies somewhere in between the two.

So from my point of view using openssl could save us lots of work, and if a majority thinks that openssl is audited

[2020-04-13 09:09] xtraeme commented on #20935
No objections. But the website will have to be updated...

[2020-04-13 09:47] svenper commented on #19439
ibus-libpinyin works so this should be specific to ibus-rime

[2020-04-13 10:20] svenper commented on #19439
... rebuild librime #20949 ...

[2020-04-13 10:20] #19439 closed

[2020-04-13 10:57] xtraeme commented on #20935
If you are going this route, please do not change xbps. I prefer to keep xbps to use libressl, mainly because this avoids lots of unnecessary dependencies while bootstrapping.

[2020-04-13 12:02] Hoshpak commented on #20935
Are you talking about xbps as a project or the Void Linux xbps package? Switching all packages to openssl and still forcing every Void system to still install libressl in parallel through xbps would make it kind of pointless to switch in the first place.

I generally agree that we should switch to openssl. Libressl not supporting the openssl 1.1 API is increasingly holding packages back (I think I

[2020-04-13 12:04] xtraeme commented on #20935
I mean the void pkg.

[2020-04-13 12:06] xtraeme commented on #20935
FYI  https://github.com/libressl-portable/portable/issues/228

[2020-04-13 12:09] xtraeme commented on #20935
https://www.nccgroup.trust/us/about-us/newsroom-and-events/blog/2019/february/downgrade-attack-on-tls-1.3-and-vulnerabilities-in-major-tls-libraries/

[2020-04-13 12:09] xtraeme commented on #20935
Anyway I don't really care, simply don't switch xbps.

[2020-04-13 13:24] svenper commented on #18581
This should obviously be similar to `iwd`, changing the template something like below.

[code]

It builds, but breaks, maybe because of misconfiguration (eiwd has no automatic configuration). `iw dev` shows the `ssid` row for a few seconds, but then disappears.

[code]

/etc/iwd/main.conf
[code]

/var/lib/iwd/potato.psk
[code]

[2020-04-13 14:35] #20130 closed

[2020-04-13 16:49] jarbowski opened #20956 "python3-rdflib issue"
Void 4.14.175_1 x86_64 GenuineIntel uptodate rrrmFFFFFF

Byte-compiling python3.8 code for module rdflib...
usr/lib/python3.8/site-packages/rdflib/plugins/memory.py:354: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if triple is None or triple is (None,None,None):
usr/lib/python3.8/site-packages/rdflib/plugins/memory.py:354: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if tr

[2020-04-13 16:52] jarbowski opened #20957 "Package Request: geonkick"
hi,
geonkick is a very good percussion synthesizer available as standalone or as plugin
thanks

https://github.com/geontime/geonkick

[2020-04-13 21:26] ericonr commented on #20912
Does this still allow logging?

[2020-04-13 21:28] aajonusonline commented on #20912
No idea, but that's what they do in NetworkManager. Is there a solution that will allow logging? I personally don't care about logging, I just don't want the tty to be spammed.

[2020-04-13 23:07] VoidDuck opened #20965 "DVD-Video playback is broken"
Hello,

I cannot play video DVDs anymore. I have the same problem on two different machines, one running Xfce, the other running Plasma, and two different video players (VLC and Parole). The player crashes everytime I try to play the disc.

Parole output:
`libdvdnav: *** pgci_ut handle is NULL ***`
`Segmentation fault`

VLC output:
`[00007fb22c001120] dvdnav demux error: *** pgci_ut handle is NULL

[2020-04-13 23:33] jarbowski commented on #20965
same here
downgrade to libdvdread-6.0.2 for the moment
libdvdread-6.1.1 may fix this

[2020-04-14 07:26] Chocimier commented on #20956
Please report upstream, there is nothing to do by us.

[2020-04-14 07:26] #20956 closed

[2020-04-14 07:29] #20776 closed

[2020-04-14 07:30] Chocimier commented on #20789
Please report upstream, there is nothing to do by us.

[2020-04-14 07:30] #20789 closed

[2020-04-14 08:21] ovinsnes commented on #11356
@kernle32dll Can you say what specifically was the tinkering that made the app work for you on Void Linux?

And, also, did you ask the nordvpn guys about the licencing concerns?

[2020-04-14 08:24] Ingvix commented on #11356
Also even if NordVPN wouldn't like it, you could always just add a restricted flag and it should be quite okay since it doesn't actually create the package in the repo.

[2020-04-14 09:51] sgn commented on #19642
Does the updated postgresql fix this issue?

I don't have any strong enough arm64 device to build libre office.

I merely found about postgresql when cross-compile other package.

[2020-04-14 10:01] jarbowski opened #20970 "Package Request: stk"
hi,
this is an audio synthesis toolKit written in c++
optionally required by lmms (add some instruments), csound and sc3-plugins
thanks

https://github.com/thestk/stk

[2020-04-14 10:20] ScrelliCopter commented on #19243
I'm curious about this too so I'm going to see if I can get a build happening, will post here if it goes anywhere.

[2020-04-14 10:26] anjandev commented on #19642
@sgn
I got the following error:

[code]

I added `libxml2-devel` to try to fix this but it still returned the error above.

[2020-04-14 11:06] #20970 closed

[2020-04-14 11:07] pullmoll commented on #20970
There you go.

[2020-04-14 11:16] ovinsnes commented on #11356
A restricted flag in the package template you mean?

Also, what would it take to actually create the package in the repo?

[2020-04-14 11:31] jarbowski commented on #20970
thank you very much
but to be effective, lmms, csound and sc3-plugins have to be edited (certainly libstk-devel in makedepends) and rebuild

[2020-04-14 11:33] pullmoll commented on #20970
Hmm.. I'm working on getting i686 built and thinking about what to do with the `./rawwaves` data. Probably add them to a `stk-data` subpackage with `archs=noarch`.

[2020-04-14 11:38] flexibeast commented on #11356
Not sure what you mean by your second question, but 'restricted' means it won't be available in the repos, but only via `xbps-src`.

[2020-04-14 12:20] Ingvix commented on #11356
@ovinsnes templates in this repo are automatically build to package unless they have 'restricted=yes' in them.

[2020-04-14 12:46] pullmoll commented on #20970
`lmms` and `csound` are done, but `sc3-plugins` is using git clone and it's a little messy :-)
I'm trying to fetch the package all submodules as distfiles, moving them to where they are expected. Only `nova-tt` is not (yet) found. Perhaps I need to add the `supercollider` package itself and put `nova-tt` in that package's `external_libraries`.

[2020-04-14 13:54] leonardlorenz commented on #20308
I see. Though I thought removing a package means literally removing it from the official repositories. When I `xbps-query -Rs wireshark-gtk` it still shows up.

[2020-04-14 13:55] pullmoll commented on #20970
Done.

[2020-04-14 13:55] jarbowski commented on #20970
lmms complaigns about stk. attempts to find rawwaves dir in  /usr/share/stk/rawwaves like in arch's pkgbuild
better than a stk-data subpackage?
https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/stk

[2020-04-14 14:46] jarbowski commented on #20970
@pullmoll
so stk-data should be a lmms dependency? or an INSTALL file in lmms installation to warn about stk-data and to keep it really optionnal?

[2020-04-14 15:15] pullmoll commented on #20970
I also realized this now. Will push yet another update soon.

[2020-04-14 19:32] gbrlsnchs opened #20987 "Package request: gh"
It would be nice to have the [official GitHub CLI](https://github.com/cli/cli) in the repos. :smiley_cat:

I'll try to open a pull request whenever I have time, but if someone wants to do it first, it'll be awesome.

Thanks for the hard work everybody.

[2020-04-14 19:35] xtraeme commented on #20987
[code]

[2020-04-14 19:35] #20987 closed

[2020-04-14 19:51] Hoshpak commented on #20965
The changelog suggests it. The package has been updated. Please check if the issue is resolved for you after updating the packages.

[2020-04-14 19:52] gbrlsnchs commented on #20987
Wow, my bad, really. I might have seen it the first time I searched but didn't think it was the official, since the description don't say so.

@xtraeme Maybe the description should be changed. It's a minor detail, but helps identifying it as the official tool. I might do it when I have free time. Thanks again!

[2020-04-14 19:57] xtraeme commented on #20987
[code]
There's nothing to improve here, use xbps-query(1) features!

[2020-04-14 20:07] jarbowski commented on #20965
everything is okay now

[2020-04-14 20:28] gbrlsnchs commented on #20987
@xtraeme Yeah, I still have a lot to learn from Void tools. Thank you very much!

[2020-04-14 20:50] VoidDuck commented on #20965
It works fine indeed. Thank you for updating.

[2020-04-14 20:50] #20965 closed

[2020-04-14 21:32] #20825 closed

[2020-04-14 21:56] svenper commented on #20728
I take it from [the readme](https://raw.githubusercontent.com/thkukuk/rpcsvc-proto/master/README) that it should be possible to replace this package with glibc:

missing in libtirpc. Additional it contains rpcgen, which is needed
to create header files and sources from protocol files.
This package is only needed, if glibc is installed without the
deprecated sunrpc functionality and libtirpc should

[2020-04-15 08:51] #11525 closed

[2020-04-15 09:17] #20508 closed

[2020-04-15 13:57] svenper opened #21020 "binpkg is being created, waiting for 1s..."
Inspired by [#2368](https://github.com/void-linux/void-packages/issues/2368#issuecomment-553584051)

### System

* xuname:
  Void 5.4.32_1 x86_64-musl GenuineIntel uptodate hold rrnFFFFFFFFF
* package:
  texlive2020-exec [[WIP]](https://github.com/svenper/void-packages/blob/texlive/srcpkgs/texlive2020-exec/template) (which package should be irrelevant but repro timing is hard)

### Expected behavi

[2020-04-15 15:11] xtraeme commented on #20438
A solution is to make a pinentry pkg that simply creates pinentry (main pkg, curses) and pinentry-tty. And then split the -qt and -gtk parts to another pkg.

[2020-04-15 15:37] xtraeme commented on #20438
Note that #20508 does not help in this case!

[2020-04-15 15:39] xtraeme commented on #20438
build cycles should not be workarounded, they must not exist at all.

Other build systems are full of stupid workarounds just for this. I refuse to introduce stuff like this into xbps-src.

[2020-04-15 19:28] st3r4g commented on #20438
but it's not a real build cycle... building all dependencies (runtime too) first is probably simpler but not the best solution imho. My proposal seems simple enough, why is it bad? Splitting packages is also a not very elegant workaround, they must be kept in sync manually and such...

[2020-04-15 19:33] st3r4g commented on #20930
`weston` on void uses `weston-launch` by default, so a setuid binary. So again the user must set up `XDG_RUNTIME_DIR` in some way. `weston` is meant for testing and not for regular use though.

[2020-04-15 19:35] xtraeme commented on #20438
@st3r4g I can't comment unless I see the code.

[2020-04-15 19:36] st3r4g commented on #20438
https://github.com/st3r4g/void-packages/commit/415b1820205ce7f38744ae81a68eb06a65ce5858

[2020-04-15 19:58] xtraeme commented on #20438
hmm just looked into it, seems a good idea after all!

so what your code does is just deferring building runtime deps until the pkg is built, isn't it?

[2020-04-15 20:00] xtraeme commented on #20438
@st3r4g but I'm not sure if this is enough.

[2020-04-16 09:05] xtraeme opened #21044 "xbps-src: multiple dups in runtime depends"
[code]

The new code just adds all `depends` from subpkgs without taking into account duplicates.

[2020-04-16 12:16] Johnnynator commented on #20935
This would also imply to build libarchive against LibreSSL, but nevertheless I dislike having both LibreSSL and OpenSSL at the same time in the base system.

[2020-04-16 12:18] xtraeme commented on #20935
We do have already multiple implementations at the same time, see mbedtls, gnutls, libressl, etc.

[2020-04-16 12:19] xtraeme commented on #20935
Anyway I've been thinking about it and maybe I'll switch xbps to use mbedtls. Not sure yet. So go ahead!

[2020-04-16 12:20] xtraeme commented on #20935
I think it would be good to have openssl as another provider, and then we can decide what software depends on which.

[2020-04-16 12:22] xtraeme commented on #20935
I agree about the ABI breakage in libressl, this is the only thing that bothers me, but I still think they are doing good with the software. I'm pretty sure OpenBSD devs do a great security work!

Note that openssl was only improved (after heartbleed) because they received lots of donations that made some developers work at full time. Not sure if this is true nowadays.

[2020-04-16 12:22] travankor commented on #20930
To be more explicit than my previous response, I don't think `wlroots`, a library, should have a runtime dependency on elogind. Implement it on a per-template basis; there only are a handful of wlroots compositors and you can use `xbps-query -RX wlroots` to find all of them.

Furthermore, even though I am currently using elogind, I don't think it's a good solution for several reasons. setuid is no

[2020-04-16 12:26] Johnnynator commented on #20935
But not in the base system, there we only have LibreSSL as of now.

[2020-04-16 12:29] Johnnynator commented on #20935
E.g. I need to decide if ca-certificates depends on LibreSSL or OpenSSL (in theory I might be able to patch `update-ca-certificates` to work with both)

[2020-04-16 12:29] xtraeme commented on #20935
@Johnnynator this is not an issue! we can make both work at the same time, including mbedtls.

[2020-04-16 12:31] travankor commented on #20935
@xtraeme What about bearssl? In the link you provided above, it resists the attacks.

[2020-04-16 12:32] xtraeme commented on #20935
@Johnnynator hmm I would not do this way. Each ssl implementation must depend on ca-certificates.

[2020-04-16 12:33] xtraeme commented on #20935
@travankor well, you are free to use whatever you think is ok! I think having openssl is ok, as long as libressl is still an option!

[2020-04-16 12:34] travankor commented on #20935
no, i meant for xbps

[2020-04-16 12:35] xtraeme commented on #20935
I haven't looked into it, but if xbps supports all alternatives it would be good.

[2020-04-16 12:35] xtraeme commented on #20935
right now xbps does not support openssl >= 1.1, so we are stuck with older openssl or libressl.

[2020-04-16 12:37] xtraeme commented on #20935
in fact I haven't tried with openssl >= 1.1, but I think it would need minimal changes...

[2020-04-16 12:40] Johnnynator commented on #20935
Yes, all ssl implementation depend on ca-certs but ca-certs depends on only one SSL implementation.
But the update-ca-certificates script right now ONLY works with libressl. And the openssl command does not have a proper way of querying whether it is OpenSSL or LibreSSL. (It always exits with 0, even when the command was not found..., so I need to judge it by what is print to stdout, argh...).

[2020-04-16 12:40] Johnnynator commented on #20935
XBPS did compile and run fine for me locally.

[2020-04-16 12:41] xtraeme commented on #20930
@travankor XDG_RUNTIME_DIR is not just a simple location... elogind does more than just setting this var. Read about it!

[2020-04-16 12:43] xtraeme commented on #20935
@Johnnynator cool! I'll update the README then.

So I'm not against it, but what bothers me about openssl is the perl build dependency... it DOES matter while bootstrapping. I would take the alpine patch to get rid of it.

[2020-04-16 12:45] xtraeme commented on #20935
@Johnnynator we could use alternative for the openssl command, and then use the specific impl cmd, i.e for openssl "openssl", for libressl "openssl-libressl" or whatever.

[2020-04-16 12:51] travankor commented on #20935
Anyways, stick with libressl 3.1 for now, it's about to get released and adds more compatibility for openssl 1.1.

My main issue is that libressl won't match the openssl 3.X/4.X/5.X API in the long run because of the Apache license make code-sharing difficult.

[2020-04-16 12:53] xtraeme commented on #20935
@travankor they aren't API/ABI compatible for a long time anyway...

[2020-04-16 12:53] Johnnynator commented on #20935
Probably the most sane way, I will prepare it like that.

Alpine also needs perl for bootstraping, and the perl `c_rehash` runtime script is not needed in our case, since our `ca-certifcates` package is not using it, so we can simply ignore it. Also as q66 pointed out, we already have a few packages that need perl for bootstrapping (e.g. `glibc`, `gcc`), so I don't see an issue with OpenSSL needin

[2020-04-16 12:54] Johnnynator commented on #20935
There are still significant gaps in the API.

[2020-04-16 12:55] travankor commented on #20935
Is openssl needed right now?

[2020-04-16 12:58] travankor commented on #20935
@xtraeme Yep, they will be two separate libraries in the future.

[2020-04-16 13:04] xtraeme commented on #20935
I agree with two points in this PR:

- openssl contains ASM for some archs, i.e faster than libressl.
- they don't break the ABI each 6 months.

I think those are two strong points to stick with openssl.

[2020-04-16 13:04] xtraeme commented on #20935
As long as they don't repeat another heartbleed again I'm all for it! rofl

[2020-04-16 13:05] xtraeme commented on #20935
that's why I'm saying to keep libressl... just in case.

[2020-04-16 13:06] travankor commented on #20935
stuff that uses libtls will need libressl, too

[2020-04-16 13:07] q66 commented on #20935
Perl does *not* matter while bootstrapping, stop insisting that it does. I still don't see any reason to package both of them either, as @Johnnynator said it would require libarchive to be built against it and complicate everything. The "just in case" argument doesn't make any sense, *either of them* could mess up something and you have no way to know which.

[2020-04-16 13:09] q66 commented on #20935
Does anything actually use libtls? Since it's a libressl specific api and most distros don't package it at all, I don't think we need to worry

[2020-04-16 13:11] xtraeme commented on #20935
[code]

[2020-04-16 13:12] xtraeme commented on #20935
@q66 I'm aware of perl in bootstrap. But in the musl case it's not necessary!

[2020-04-16 13:15] xtraeme commented on #20935
Note that libarchive does only need openssl for libcrypto (shaXXX and related) not anything from SSL/TLS.

[2020-04-16 13:15] q66 commented on #20935
It is, since coreutils needs it, as well as GCC.

[2020-04-16 13:17] travankor commented on #20930
You can set `XDG_RUNTIME_DIR=/run/user/$USER` in shell and it works. You don't need elogind for this.

[2020-04-16 13:18] xtraeme commented on #20935
@q66 perl is only required in coreutils to run the test suite.

[code]
from coreutils configure

[2020-04-16 13:18] xtraeme commented on #20935
@q66 GCC only requires perl due to texinfo, which is optional!

[2020-04-16 13:19] q66 commented on #20935
Libcrypto contains the majority of the asm acceleration code, including for sha*. Wrt libtls: so... other openbsd projects (duh) - I doubt it'd required, as e.g. Debian packages openntpd without libressl, and s6-networking, which can also use bearssl, which is a better choice either way.

[2020-04-16 13:21] xtraeme commented on #20935
@q66 I'm not against this at all! not sure what's your point.

@Johnnynator already tried xbps with openssl >= 1.1 and it's ok, so it's ok for me too.

I was only mentioning the fact that openssl needs perl to build. But as you said, we require perl for bootstrapping so it's not an issue.

+1 from me

[2020-04-16 13:21] q66 commented on #20935
Anyway, openssl needs Perl for good reasons, it uses it to deal with processing the assembly code for different targets. Libressl was only able to rip it out because they ripped out the asm

[2020-04-16 13:23] xtraeme commented on #20935
Alpine had a C implementation to get rid of perl in openssl in the past... not sure if this is true nowadays.

[2020-04-16 13:24] q66 commented on #20935
C implementation of what?

[2020-04-16 13:26] Johnnynator commented on #20935
They still have c implementation of `c_rehash` but as I said, it is not really needed and we can ignore it, since we use the debian ca_certificates update script.

[2020-04-16 13:28] q66 commented on #20935
There are much worse bootstrap dependencies we could have than Perl anyway, as far as I know Perl has never been problematic on anything, has been around for decades and is completely portable. And pretty much every single distro out there ships it.

[2020-04-16 13:33] xtraeme commented on #20935
perl portable? sure, but only for native builds! it took me a while to figure out cross compilation way before perl-cross existed! ROFL

[2020-04-16 13:33] xtraeme commented on #20935
@q66 just take a look at void-packages git logs to see all my changes!

[2020-04-16 13:35] xtraeme commented on #20935
[code]
There's a reason why I've got 35K commits, you know!

[2020-04-16 13:37] xtraeme commented on #20935
Anyway I'll stop with this thread.

+1 to switch to openssl again

[2020-04-16 13:41] Duncaen commented on #20930
Its not about setting the environment variable, its about creating the directory.

[2020-04-16 13:41] st3r4g commented on #20930
As I said before, basically the point is that the [XDG spec](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) sets specific requirements tied to logins for this folder... but for how it is used by Wayland compositors it doesn't really matter, it just has to exist (with the right perms).

[2020-04-16 16:52] Chocimier commented on #21044
[code]

It is same as for repeated hostmakedepends. Why are duplicates problem?

[2020-04-16 16:57] xtraeme commented on #21044
It's not. Host and target make deps arent dups.

[2020-04-16 16:59] Chocimier commented on #21044
[code]

[2020-04-16 17:43] charbelnicolas commented on #15482
I'm having this problem even though the ld.so.cache folder already exists...

[2020-04-16 17:45] xtraeme commented on #15482
Omg

[2020-04-17 06:18] Ypnose commented on #20935
I'm not longer a package maintainer, but from an user perspective `libressl` is sometimes painful when specific `openssl` options are needed and not included. There is an example here : https://github.com/libressl-portable/portable/issues/544
If it can save maintainers time, go for it.

[2020-04-17 08:04] Oreo639 commented on #15482
Err, not folder. It should be a file, my bad.
I believe you can fix it by running `sudo ldconfig`.

[2020-04-17 08:24] Ypnose opened #21066 "TurboVNC is missing a jar file"
### System

* xuname:
`Void 5.4.24_1 x86_64 GenuineIntel notuptodate rDF`
* package:
[code]

### Expected behavior

`vncviewer` shows remote desktop.

### Actual behavior

[code]

### Steps to reproduce the behavior

Run `vncviewer 127.0.0.1:0:`

[2020-04-17 13:07] charbelnicolas commented on #15482
My bad, I was able to solve this by increasing the 10 MB file cap for thumbnail generation to something else.

[2020-04-17 14:54] mobinmob commented on #20935
s6-networking works with bearssl. Upstream [marks bearssl support as beta](https://skarnet.org/software/s6-networking/) but both [Alpine](https://git.alpinelinux.org/aports/tree/main/s6-networking/APKBUILD?id=0ac87b7fb4b8e4e3717e3611107fc463c8dd261b) and [Adelie](https://code.foxkit.us/adelie/packages/blob/master/user/s6-networking/APKBUILD) use it.

[2020-04-17 16:12] Chocimier commented on #20438
@st3r4g: When dependencies are build after desired package is indexed, and some transitive dependency fail to build, one end up with non-installable package and no easy way to build just what is missing. Currently, it is enough to fix failing package and build desired package again.

Complete solution may need a temporary area of packages visible to xbps-src, but not indexed yet.

[2020-04-17 16:35] st3r4g commented on #20438
Exactly, the index must be updated only after all runtime dependencies are built successfully. In https://github.com/void-linux/xbps/issues/259 a new tool was proposed to handle proper indexing of packages (in a multi-repo aware way). So if such tool is made, we can postpone building runtime deps and let the new tool do the shlibs checks and rundeps checks, so that repo index has always installabl

[2020-04-17 17:09] marek-lach opened #21082 "[Package request]: Treeline"
Name: TreeLIne
What is it: A hierarchical information storage program/database for personal information management and outlines.
Homepage: http://treeline.bellz.org
Licensing: GPL
Github repo: https://github.com/doug-101/TreeLine

Thanks to anyone who compiles this!

[2020-04-17 17:17] marek-lach opened #21083 "[Package Request]: Whalebird - a client for decentralized social media, like Mastodon"
Name: **Whalebird Desktop**
Purpose: A desktop client for decentralized social media platforms running on the ActivityPub protocol.
Homepage: https://whalebird.org
**Github repo:** https://github.com/h3poteto/whalebird-desktop
Dependencies: requires electron
License: GPL

[2020-04-17 18:33] xtraeme opened #21089 "GNU make-4.2 has issues with musl (glob)"
If any of you have noticed why linux5* builds are so slow with musl currently it's due to GNU make when it was downgraded to 4.2.

This version contains an obsolete glob implementation that is used by default with musl (see configure) that makes building linux5* with -jX not parallelize jobs as it should.

Try with current void make (4.2.x) `./xbps-src -jX linux5.6` and then compare with make 4.3.

[2020-04-17 22:10] kernle32dll commented on #11356
I tried to build a package around what I have been using the last few months - I hope I did everything right :sweat_smile:  It works for me.

[2020-04-18 06:37] lemmi opened #21105 "darktable>=3.0.x: build fails for aarch64* with openmp"
Opening this issue to document the error when cross compiling darktable for aarch64:
[code]

[2020-04-18 06:46] pullmoll commented on #21089
Well, I do care because when building many thousand *-musl packages here it makes a difference :)
Can you confirm the make-4.3 fnmatch and glob injection helps? It seems so to me because when I build e.g. `linux5.6-5.6.5` for `x86_64-musl` in a `x86_64-musl` chroot it really uses 30 threads.

[2020-04-18 06:47] ericonr commented on #20930
I think discussing this in matters of `XDG_RUNTIME_DIR` won't necessarily lead us anywhere. The most important point for this is the existence or not of setuid binaries.

In order to not break users' setups, elogind could be a (direct or not) dependency of Sway, and then setuid could be removed from Sway's build script (or made a build option at least). The way it currently works, `cage` isn't set

[2020-04-18 07:01] ericonr commented on #20912
That's fair. I will take a look at my setup to see how it works.

[2020-04-18 07:35] travankor commented on #21089
@xtraeme @pullmoll Appreciate the work you both do!

Thank you, jefe 👍

[2020-04-18 07:49] travankor commented on #20930
I don't think there is a problem with removing the default setuid.

I made some notes on how to run `wlroots` compsitors without elogind here https://github.com/void-linux/void-docs/pull/195.

I guess people that don't want elogind would have to use
`ignorepkg=elogind` and setuid manually then?

[2020-04-18 07:55] travankor commented on #20930
Also does the `elogind` service actually work without dbus? My understanding is that elogind is dbus-activated so what's the service file for?

[2020-04-18 09:39] kernle32dll commented on #11356
Duh - of course it still hinges on the license. I opened a support ticket at NordVPN.

[2020-04-18 09:44] xtraeme commented on #21089
@pullmoll wouldn't be better to update make to 4.3 and fix the issues with those two pkgs instead?

[2020-04-18 11:21] pullmoll commented on #21089
If anyone wants to do that, i.e. fix Aegisub and openjdk9-bootstrap with make-4.3, sure.
This PR is meant as a workaround in case no one cares - /me has sufficient other things on the list.

[2020-04-18 12:11] Gottox commented on #21089
Is there a minimized testcase for that? I'm currently on LTE only, so I'd really like to avoid traffic intensive builds :D

[2020-04-18 12:15] xtraeme commented on #21089
We don't know yet, but the only thing to trigger it is with linux5.x. I think linux4.x is not affected. I couldn't investigate what's the real reason.

[2020-04-18 13:51] rc-05 commented on #20107
Simply update the template file, repackage it, go to the hostdir/binpkgs/nonfree and reinstall the package.

This is the most straightforward method that comes into mind :smile:

[2020-04-18 15:57] q66 commented on #21089
you can't "fix the issues with these two pkgs" as this is literally a regression in make, a bug.

[2020-04-18 16:01] xtraeme commented on #21089
right, but rather than downgrading why do not fix the issues?

[2020-04-18 16:13] q66 commented on #21089
feel free to

[2020-04-18 16:20] ericonr commented on #20930
I saw your PR! The one issue I have with it in this context is that if you don't have elogind nor setuid on the binary nor CAP_SYS_ADMIN (capabilities require one more dependency, though), then you can't start the compositor, unless you add setuid by hand.

Making setuid a build option would work out well, I think. Depend on elogind or make the binary setuid. Given that to use a build option you h

[2020-04-18 16:49] bbs99168 opened #21127 "ones"
### System

* xuname:
  *output of ``xuname`` (part of xtools)*
* package:
  *affected package(s) including the version*

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2020-04-18 16:50] xtraeme commented on #21127
?

[2020-04-18 16:50] #21127 closed

[2020-04-18 16:52] bbs99168 commented on #21127
**99168** #dasuan #xiaomanyao

[2020-04-18 18:10] #21089 closed

[2020-04-19 09:04] ericonr commented on #2238
@GithubIsAwful @ghost does this issue still happen in the latest images?

[2020-04-19 13:35] #20833 closed

[2020-04-19 13:49] RandomUnknown opened #21154 "Mullvad"
Name: Mullvad
What is it: Mullvad is a VPN service that helps keep your online activity, identity, and location private.
Homepage: https://mullvad.net/en/
Licensing: GPL v3.0
Github repo: https://github.com/mullvad/mullvadvpn-app

[2020-04-19 15:12] Val6789 commented on #18713
I have the same problem. The proposed fix dit not work.

[2020-04-19 19:32] kaistian opened #21158 "alacritty: Missing dependency libXi"
### System

* xuname:
  Void 5.4.13_1 x86_64 GenuineIntel uptodate rFF
* package:
  alacritty-0.4.2_2

### Expected behavior

Alacritty to start

### Actual behavior
[code]
### Steps to reproduce the behavior

1. Install `xorg-minimal` and `alacritty`
2. Try to start alacritty

### Fix

Installing `libXi` and Alacritty starts.

[2020-04-19 19:49] howtologinquickwiththirtyninecharacters opened #21159 "cutter: it's not built with any decompiler unlike the official AppImage package"
### System

* xuname:
  *Void 5.4.33_2 x86_64 GenuineIntel uptodate rrFFFFFF*
* package:
  *cutter-1.10.2_2*

### Expected behavior

Cutter has at least one decompiler in the dropdown menu (this is the default behavior of the official releases, you can get the AppImage to test that from [here](https://github.com/radareorg/cutter/releases))

### Actual behavior

The decompiler dropdown is disabled

[2020-04-19 20:45] ericonr commented on #20308
It is still being built. Someone probably forgot to remove the package. I made a PR for it.

[2020-04-19 21:00] ericonr commented on #19584
Are those the bash or the zsh completions?

[2020-04-19 21:28] rfrail3 opened #21161 "Package request: Tuptime"
Name: Tuptime
What is it: Report the historical and statistical real time of the system, keeping it between restarts.
Licensing: GNU
Github repo: https://github.com/rfrail3/tuptime/

I can help testing it.
Thanks,

[2020-04-19 22:06] ericonr commented on #19290
Managed to reproduce on a Musl machine, trying to diagnose. As a temporary work around, arduino from Flatpak works, as does arduino-cli.

[2020-04-19 22:30] ericonr commented on #19290
The issue seems to be with the `arduino-preprocessor` executable. I don't understand the build system, so I can't tell if it's being downloaded already built or being built locally. I suppose it's being downloaded, specially because if it was being locally it should statically link `librt` and `libdl`.

What seems to be the biggest bug, of course, is that xbps-src is recommending glibc in a musl s

[2020-04-20 00:41] fosslinux opened #21163 "m4, texinfo build failure"
### System

* xuname:  Void 5.6.3_1 x86_64 GenuineIntel uptodate rrFFF

* package:
m4-1.4.18, texinfo-6.7

### Expected behavior

`m4` builds correctly.

### Actual behavior

`m4` fails with:

[code]

Adding texinfo to hostmakedepends results in:

[code]

### Steps to reproduce the behavior

clone void-packages.

`./xbps-src -N pkg m4` or revbump texinfo and m4 and `./xbps-src pkg m4`.

[2020-04-20 06:58] wallisers opened #21170 "texlive-bin: Not pointing to latest version & checksum error"
`texlive-bin` is still pointing to `texlive2019-bin`, while the new version `texlive2020-bin` already existis. Also when trying to install `texlive2019-bin` I get a checksum error and the install script aborts.
[code]
`texlive2020-bin` and previous versions (2018 and earlier) are working fine.

*xuname: Void 5.4.32 x86_64 GenuineIntel uptodate rFF*
*package: texlive-bin 2019_1, texlive2019-bin 201

[2020-04-20 10:21] svenper commented on #21170
* texlive-bin sets the PATH in /etc/profile.d
* install-tl can't find the historic repo yet

these should be fixed by #21090 and #20913

[2020-04-20 11:33] wallisers commented on #21170
I know. I have read both threads. But `xbps-install -S texlive-bin` still tries to pull 2019_1 on my system.

[2020-04-20 11:41] rovenmacorp commented on #21163
This error exists because `texinfo` is not added to the package definition as a build dependency. You will also get a second error when you add it. And this is because `texinfo`'s input encoding now UTF-8 by default and `m4.texi`'s not. You can solve this problem add `pre_build` section like this.

`pre_build() {
     sed -i '1 i @documentencoding ISO-8859-1' doc/m4.texi
}`

See at: [https://githu

[2020-04-20 12:00] svenper commented on #21170
Those pull requests have to be accepted first, and then a while in the build queue as well

[2020-04-20 13:46] #20875 closed

[2020-04-20 13:50] #21082 closed

[2020-04-20 14:04] #20308 closed

[2020-04-21 00:26] fosslinux commented on #21163
Well, the texinfo thing - since m4 is a bootstrap package, texinfo is meant to be on the host system. I guess that was just a problem with my setup.

That seems like it will work - I'll add that to the template and  PR. Thanks! I'll close this issue when the PR is merged.

[2020-04-21 07:44] ericonr commented on #20930
@travankor it appears elogind usually can be started from the dbus without issue. The reason for enabling its service is that there can be issues derived from it not running when the system was started. It's basically "if you experience an issue with elogind, try to enable it at startup first".

[2020-04-21 13:22] #20820 closed

[2020-04-21 20:02] jnbr commented on #21158
Thank you for reporting the issue, it is fixed now, `alacritty-0.4.2_3` depends on `libXi`.

[2020-04-21 20:02] #21158 closed

[2020-04-21 20:36] jnbr commented on #12885
Nice that you found a solution. I'm closing this, feel free to reopen or open a new issue if the problems appear again.

[2020-04-21 20:36] #12885 closed

[2020-04-21 20:42] jnbr commented on #7498
Doesn't seem to be an issue anymore.

[2020-04-21 20:42] #7498 closed

[2020-04-21 20:46] ericonr commented on #21159
@jnbr take a look at https://cutter.re/docs/building.html#cmake-building-options

You will need to pull the submodules into the build, it seems.

[2020-04-21 20:49] jnbr commented on #21159
Thanks. I will take a look at it at the weekend, so if you need it urgently, feel free to give it a go.

[2020-04-21 20:56] svenper commented on #12885
It's nice but more of a hack than a solution. Lots of other stuff unfortunately require dconf...

[2020-04-21 21:35] howtologinquickwiththirtyninecharacters commented on #20935
@Johnnynator you may want to update your package to 1.1.1g, versions d, e and f are affected by [this vulnerability](https://www.openssl.org/news/secadv/20200421.txt). (Is this the right place to comment on this or should I have commented on the New package request? I'm still new to this).

[2020-04-21 21:58] #19584 closed

[2020-04-22 00:35] fosslinux opened #21232 "Manual.md: Add list of packages that should be rebuilt after bootstrap."
From https://github.com/void-linux/void-packages/pull/21226, there was a longish discussion about the entire bootstrap process.

As a newbie to `./xbps-src bootstrap`, I did not know that you should be rebuilding packages after `./xbps-src bootstrap`. @pullmoll suggested " We should put up a list of packages which need to be rebuilt after a bootstrap, probably in the Manual.md section about bootst

[2020-04-22 02:45] travankor commented on #20930
@ericonr I created a PR to hopefully resolve this issue. The consus (not sure about this honestly?) seems like they want elogind, so I switched that on by default and made everything available from a build style.

I will update void-docs based on whatever is agreed upon and merged.

[2020-04-22 04:42] LamaRaz opened #21234 "dhcpcd connection refused"
in addition to the apparmor issues the recent update also seems to break it in a tty logged in as root

`ps_dostop: Connection refused`

downgrading this crap fixed the problem

was only able to find a single reference to my problem by someone else: https://bbs.archlinux.org/viewtopic.php?id=254935

[2020-04-22 04:44] Vaelatern commented on #21234
this is with apparmor installed?

[2020-04-22 04:45] LamaRaz commented on #21234
no apparmor, it's a fresh system with nothing but lvm2 and crypsetup with efi

[2020-04-22 05:02] LamaRaz commented on #21234
does not seem to be related to root
same problem with a normal user

first 'ip a' shows no ip for wlan0 despite /var/service/dhcpcd-wlan0

then sudo dhcpcd wlan0 shows the connection refused

[2020-04-22 05:11] LamaRaz commented on #21234
solution:

`dhcpcd -4`

from https://bbs.archlinux.org/viewtopic.php?id=254888

confirmed as working for me

[2020-04-22 05:46] Vaelatern commented on #21234
it disables ipv6

[2020-04-22 07:17] PureTryOut commented on #12885
For me it was fixed since version 72.0, and that is with `dconf` installed. This is on Alpine Linux. Are you guys absolutely sure dconf was causing the problem? It seems unlikely to me.

[2020-04-22 07:34] Anachron opened #21236 "Package Request:"
Homepage: https://www.zrythm.org

Releases: https://www.zrythm.org/releases/
Source: https://git.zrythm.org/cgit/
License: [AGPL30](https://www.zrythm.org/en/legal.html)

[2020-04-22 08:58] svenper commented on #12885
@PureTryOut Are you talking about password fields, or local directories, or both? E.g. for me `file:///tmp/index.html` works but `file:///tmp/` crashes. https://github.com/void-linux/void-packages/issues/12885#issuecomment-578443007 :wink:

[2020-04-22 09:56] PureTryOut commented on #12885
Just password fields. Local directories indeed still crashes, but luckily I don't need that feature anyway.

[2020-04-22 10:49] svenper commented on #12885
Perhaps better to split that off into a separate issue now that it's clear they are caused by different things?

[2020-04-22 11:23] svenper opened #21245 "Firefox directory list views broken by multiprocess setting or dconf"
(split off from #12885 since the separate password field bug was fixed)

# System

* xuname:
  Void 5.4.33_2 x86_64-musl GenuineIntel uptodate hold rrnFFFFFFFFF
* package:
  firefox-75.0_1

### Expected behavior

directory list views are not broken by dconf or browser.tabs.remote.autostart

### Actual behavior

directory list views are broken by dconf or browser.tabs.remote.autostart

### Steps to

[2020-04-22 12:16] Hoshpak commented on #20935
The version remark would have been better in the PR however the vulnerability itself is highly relevant to this discussion since the number of vulnerabilities in each library is an important decision criterion for a TLS library.

[2020-04-22 12:19] xtraeme commented on #20935
What @Hoshpak said. I still think that libressl has less vulnerabilities, maybe due to slower release date...

[2020-04-22 12:50] sgn commented on #20714
Closed by #20732

[2020-04-22 12:50] #20714 closed

[2020-04-22 14:18] Piraty commented on #21234
i start my systems with `cmdline= ... ipv6.disable=1` and had to add `ipv4only` to /etc/dhcpcd.conf, else it crashed after getting a lease from the router

[2020-04-22 14:20] xtraeme commented on #21234
try dhcpcd-9.0.2

[2020-04-22 14:20] Piraty commented on #21234
clearly an upstream issue

[2020-04-22 14:25] ErinVoid commented on #21234
Have been having random dhcpcd issues on a standard-ish x64 musl install. Works one minute, not the next. Added noarp to dhcpcd.conf and the issue disappeared at the same time but cannot validate it was specifically that.

[2020-04-22 14:28] Piraty commented on #21234
i can confirm that dhcpcd-9.0.2 solves it. it no longer requires `ipv4only` in the conf file to work.

probably https://github.com/rsmarples/dhcpcd/commit/717e0411669be2f39460c7fb3952f55024883485

[2020-04-22 14:28] #21234 closed

[2020-04-22 14:57] travankor commented on #20930
So, do you still need dbus?

This should be documented preferably. Also issues like https://github.com/void-linux/void-packages/issues/20780 should be documented, too.

[2020-04-22 15:05] q66 commented on #20935
All software has vulnerabilities. I seriously doubt libressl has fewer of them.

[2020-04-22 17:22] ericonr commented on #20930
@travankor from what I understand, you always need dbus. Enabling the elogind service is optional, but it's the best route to be sure stuff works correctly.

[2020-04-22 17:24] svenper opened #21252 "variable substitution in depends for subpkg"
### System

* xuname:
  Void 5.4.33_2 x86_64-musl GenuineIntel uptodate hold rrnFFFFFFFFFF
* package:
  python-hyper-h2-3.1.1_2

### Expected behavior

variable substitution works in subpkg depends

### Actual behavior

variable substitution in subpkg depends results in empty depends

### Steps to reproduce the behavior

(should probably be double slash `${depends//...` for global replace but that

[2020-04-22 17:32] ericonr commented on #20780
@travankor do you think this could be documented in the session management part?

@keshto can you open an issue for it?

[2020-04-22 18:11] jnbr commented on #21245
I can reproduce the crash with `file:///` crashing.

[2020-04-22 18:43] Chocimier commented on #21044
Why are exactly duplicates problematic? They are just ignored twice.

[2020-04-22 19:48] Chocimier commented on #21252
Interesting that depends, unlike short_desc is unset here, but I would change template rather than xbps-src because it's bad for searchability of python3-* usage.

Also this seems to be only template doing this.

[2020-04-22 20:31] ericonr commented on #3391
Is it still intended to get this working?

[2020-04-22 20:50] Cogitri commented on #3391
As noted in https://github.com/void-linux/void-packages/issues/3391#issuecomment-466848064 this has been reverted.

[2020-04-22 21:36] keshto commented on #20780
@ericonr https://github.com/void-linux/void-docs/pull/210

[2020-04-23 02:36] the-maldridge commented on #20935
My 2 cents.  I am opposed to software monocultures, they stifle attempts to produce new and better implementations and tend to breed discontent among developers that wish to do something different.

If we were to accept OpenSSL I would recommend doing so in the same way we have gcompat.  It can be used in places where there is need for its specific interface, but otherwise not.  My preferred SSL i

[2020-04-23 03:35] eli-schwartz commented on #20935
Note that there's probably never a good excuse to use c_rehash at all, whether you use the debian ca_certificates script or not... because https://www.openssl.org/docs/man1.1.1/man1/openssl-rehash.html

tl;dr `/usr/bin/openssl rehash` and `/usr/bin/c_rehash` do the same thing, one in C and one in perl. It's unclear when you'd ever want to use the latter, and I think you might be hard-pressed to fi

[2020-04-23 04:43] constptr commented on #20935
I am not experienced/eligible to comment, but what about alternative SSL implementations like wolfssl ( claims openssl compatibility ) and GNU-TLS ?

Openssl can avoid many manual patching though.

[2020-04-23 07:59] fosslinux commented on #20935
I agree with @the-maldridge, after some hard thinking and a discussion on IRC.

I'm not really concerned about OpenSSL in the repositories.

However, LibreSSL should be of first-class support, and OpenSSL should only be used where necessary for maintainability (eg, qt5). IMO, OpenSSL shouldn't be in the base system - xbps should stay with LibreSSL; no real reason to move it off it.

Saying all thi

[2020-04-23 10:25] Duncaen commented on #20935
Running both is not an option all reverse dependencies need to use the same one otherwise we get runtime errors.

[2020-04-23 11:19] q66 commented on #20935
Mixing libressl and openssl in one system is a recipe for disaster as they share symbols.

Also, sticking primarily with libressl does not solve the problem of the experience being poor outside of x86_64.

[2020-04-23 16:44] liketechnik commented on #6383
Did somebody figure out the issue? I locally switched the dependency to `libmagick6(-devel)` and made sure the configure section contained
[code]
Nevertheless emacs claims it wouldn't have imagemagick support.

[2020-04-23 16:50] #12879 closed

[2020-04-23 16:50] #16216 closed

[2020-04-23 17:15] xtraeme commented on #21044
Yes, they are ignored twice and this is the problem. With lots of subpkgs this will slow it down substantially because it needs to process and ignore the same dependency N times.

Also this change makes "./xbps-src show-build-deps" contains lots of dups as well, and this makes xbps-fbulk(1) fail in some cases.

[2020-04-23 17:19] ericonr commented on #3391
@Cogitri do you think the issue can be closed, then? Or is it still a possibility?

[2020-04-23 22:21] sburris0 opened #21285 "MISSING: clang-32bit>=9.0.0_1"
### System

* xuname:

* package:
  *affected package(s) including the version*
clang-32bit>=9.0.0_1

When I try to update my system with `# xbps-install -Su`, the transaction is blocked by clang-32bit.

I can't see any reference to clang-32bit in this repository or in a reverse dependency search with `xbps-query -X clang-32bit`, or `xbps-query -Rs clang-32bit`. Force reinstalling clang didn't hel

[2020-04-23 22:41] abenson commented on #21285
I had to remove `mesa-opencl-32bit`. It looks at some point that lib32 was disabled for clang.

[2020-04-23 22:45] sburris0 commented on #21285
Works for me.

[2020-04-23 22:45] #21285 closed

[2020-04-23 22:47] abenson commented on #21285
Not sure why `mesa-opencl-32bit` exists... Note, the xbps-query weren't working because the package doesn't exist. I'm confused as to why it suddenly stopped working, because it should've never worked.

[2020-04-23 22:55] abenson commented on #21170
Fixed in 2b9dbf8ac3e073ed0e81041970ccdaeac2eec21c

[2020-04-24 00:16] abenson commented on #21020
The .lock file is created when packaging. If you interrupted it at some point (ctrl-c), the lock file remains. I'm not sure there's a way to clean up the .lock file (maybe a trap of some sort?).

[2020-04-24 04:20] MrLazerbean opened #21294 "No man page for picom"
### System

* xuname:
  Void 5.4.34_1 x86_64 GenuineIntel uptodate rrrrmmnFFFFFF
* package:
  picom-8_1
### Expected behavior
`man picom` opens the man page for picom
### Actual behavior
`man picom` returns an error "No entry for picom found in the manual"
### Steps to reproduce the behavior
Install picom
Run `man picom`

[2020-04-24 04:32] not-chicken commented on #21294
Will be fixed by #21257

[2020-04-24 04:51] #20778 closed

[2020-04-24 06:12] Anachron opened #21295 "Failed builds don't clean up all required space"
See https://github.com/void-linux/void-infrastructure/issues/66

[2020-04-24 06:34] Ypnose commented on #20935
Please, can you elaborate your comment ?

[2020-04-24 07:00] biopsin commented on #20957
Nice find. (Needs GUI toolkit Redkite @ https://github.com/iurie-sw/redkite).
Btw are we not allowed to distribute vst3 plugs, I see none in repo?

[2020-04-24 07:32] the-maldridge commented on #20935
I believe q66 is referring to openssl containing large amounts of hand optimized assembly for both modern and long dead platforms which accelerates certain arithmetic functions.  LibreSSL works primarily on x86_64.

Perhaps a better question to ask about this is why Void is seeing poor performance on non-x86 platforms.  OpenBSD builds on a number of different targets, and there aren't reports of p

[2020-04-24 09:41] leahneukirchen opened #21298 "Package request: Traverso-DAW"
https://traverso-daw.org/

Pretty straight forward I think.

[2020-04-24 11:02] jarbowski commented on #20957
I don't think so, it's not free. The only way to have vst3 support for all would be to pull a nonfree template of vst3sdk (like google-chrome and adobe-flash-plugin) and build it locally with xbps-src, I guess

[2020-04-24 11:10] Anachron commented on #21298
Git is hosted at http://git.savannah.nongnu.org/cgit/traverso.git
See `INSTALL` and `PACKAGERS` files respectively.

[2020-04-24 11:32] xtraeme opened #21299 "Organization requirements"
I think the current state of void related to who decides what to push or not is a tragedy. This needs to be improved for the sake of us and all users.

I really think that before someone pushes a change there need to be some requirements:

- For package updates being updated by the current maintainer, no review necessary.
- For package updates without soname bumps, at least get the change reviewed

[2020-04-24 11:39] xtraeme commented on #21299
myself included! as long as EVERYBODY respect the same rules!

[2020-04-24 11:45] Duncaen commented on #21299
I think if we could come up with a list or a rule for packages that are "high maintenance", getting multiple OKs is a good idea, for most packages I think getting 3 OKs is just going to get

3 or 5 OKs are required if the package...
* ... is part of base-system.
* ... is a core component of desktop environments.
* ... has over N reverse dependencies.

[2020-04-24 11:48] xtraeme commented on #21299
I like you suggestion @Duncaen

Maybe we can relax simple changes to 2 OKs

[2020-04-24 11:49] xtraeme commented on #21299
That means no unverified pushes without reviews, this includes @thypon @Vaelatern (among others).

[2020-04-24 11:50] leahneukirchen commented on #21299
If I can't bump my own packages, I'm out. I have enough bureaucracy in my life.

[2020-04-24 11:51] xtraeme commented on #21299
@leahneukirchen I agree. I think we should add:

- maintainers are free to push anything related to the pkgs they maintain

[2020-04-24 11:52] xtraeme commented on #21299
@leahneukirchen this is just a proposal! when everybody agrees to the terms we can make it effective.

[2020-04-24 11:57] xtraeme commented on #21299
I have relaxed the requirements.

[2020-04-24 11:57] leahneukirchen commented on #21299
I think I would prefer a per-package/subsystem CODEOWNERS approach to get explicit approval.

[2020-04-24 11:59] xtraeme commented on #21299
So at least get OK from current pkg maintainer or codeowner (if applicable) ?

[2020-04-24 12:01] xtraeme commented on #21299
I also think that there are lots of packages with maintainer that do not maintain them! this means if maintainer does not answer in 1 week, submitter can be the current maintainer.

[2020-04-24 12:01] xtraeme commented on #21299
This is what FreeBSD/ports does and I think it's good.

[2020-04-24 12:08] sgn commented on #21299
- I'm OK with the relaxing for non-critical package
- I think those packages in bootstrap list or the one that have equivalent in bootstrap should be reviewed by more people. E.g: I don't want to push nss, git out when noone else tested it. If that package was written by that maintainer, it's a different story.
- For the security update, I don't think we should wait. Fast track is OK to me.
- If t

[2020-04-24 12:11] sgn commented on #21299
Does github have something to notify if a comment or post was modified?
I didn't see the change in OP, at first. I mostly look into my mailbox.

[2020-04-24 12:11] xtraeme commented on #21299
@sgn I think it doesn't.

[2020-04-24 12:12] xtraeme commented on #21299
@void-linux/pkg-committers please speak up. We can get a consensus when all committers agree to the terms.

[2020-04-24 12:21] xtraeme commented on #21299
I agree with @sgn comments

[2020-04-24 12:22] xtraeme commented on #21299
When the consensus is agreed by all committers I'll create a new file explaining the rules.

[2020-04-24 13:07] pullmoll commented on #21299
I though Void Linux was the primary example for (working) anarchy, no? :-P

Anyway, I don't think we need 2 reviews for new packages. As long as a new package doesn't conflict with existing packages (no name clash) and does not conflict or want to provide alternatives, a contributor should be free to add it. This has been helpful when preparing other new packages which require not yet existing dep

[2020-04-24 13:13] xtraeme commented on #21299
ok, I agree with @pullmoll

[2020-04-24 14:01] q66 commented on #20935
@the-maldridge It's not just about hand optimized, it's also about access to hardware crypto, which libressl outside of x86_64 does not have, which results in significantly poorer throughput

1) openbsd builds a lot fewer targets than Linux, e.g. they don't have 64-bit ppc of any kind
2) people using openbsd don't care about performance a whole lot, e.g. there is still no reasonable SMP in openbsd

[2020-04-24 14:05] Vaelatern commented on #21299
I only agree to restrictions on the bootstrap set. Everything else is just additional rules for the sake of rules.

[2020-04-24 14:27] xtraeme commented on #21299
ok, let's continue with more opinions.

[2020-04-24 14:34] q66 commented on #21299
I don't think we need a new set of rules. How about fixing your own problems before implying there are issues with the system first?

[2020-04-24 15:09] xtraeme commented on #21299
My issues are mine. This is not about my issues, it's about issues related to this organization that I started.

[2020-04-24 15:15] xtraeme commented on #21299
The same organization that people think I'm not able to comment! if I didn't start it you weren't commenting it... so let's relax.

[2020-04-24 15:16] Anachron commented on #21299
I hope it's ok if I join the discussion.
As a Contributor for nearly two years now I want to give my 2 cents to this topic.

1.) I don't think it's beneficial for anybody to get personal here.
2.) I don't see how being a code owner/organization starter gives the permission to push things the Community/other Maintainers are not OK with. This is just provoking issues along the road.
3.) Enforcing ne

[2020-04-24 15:25] xtraeme commented on #21299
let's continue with your stupid rules, I don't give a fuck

[2020-04-24 15:25] #21299 closed

[2020-04-24 15:33] Anachron commented on #21299
@xtraeme please cool down and come back once you have a clear picture of whats happening. Your treatment of other contributors is in no regard ok.

Void is your idea, we get it. But that doesnt change that everybody should be treated fair and respectful.

[2020-04-24 16:00] biopsin commented on #20957
So we have the option updating all templates, adding a VST build_option in templates, just not enabling it by default? Only missing at this point is a vst3sdk template, ..huhu got my weekend project cut out ;)

[2020-04-24 16:25] xtraeme opened #21303 "stop using my email for maintainer"
I resigned from my own project that I write from scratch since 2008.

I demand you to remove my email from maintainer's field in pkgs.

I'm not interested in continuing with this project that is full of idiots.

Have fun!

[2020-04-24 16:28] Vaelatern commented on #21303
It's meant "orphaned package" for years now. Nothing is broken.

[2020-04-24 16:28] xtraeme commented on #21303
Unless you remove my email I won't stop
moron

[2020-04-24 16:30] xtraeme commented on #21303
Yes, the same moron I added to my own organization that I resigned. How sarcastic!
fuck you idiot

[2020-04-24 16:30] Vaelatern commented on #21303
Please stop harassing me.

[2020-04-24 16:30] xtraeme commented on #21303
REMOVE MY FUCKING EMAIL ADDRESS
and update xbps to the REAL ADDRESS

[2020-04-24 16:31] xtraeme commented on #21303
I won't, you are a fucking moron

[2020-04-24 16:33] xtraeme commented on #21303
FUCK YOU MORON

[2020-04-24 16:34] xtraeme commented on #21303
you've been a bastard for you whole life, inst it?

ROFL

[2020-04-24 16:48] q66 commented on #20935
I ran some tests on ppc64le for comparison: https://gist.githubusercontent.com/q66/4f4dc63565cdfafb10c6dde1d3067648/raw/8d2243c22324212af35d3133455c0c7067ab088f/bench.txt

[2020-04-24 17:44] ScrelliCopter commented on #19243
Status update:
I have the packages [here](https://wiki.trinitydesktop.org/How_to_Build_TDE_Core_Modules) up to `tdebase` building and running core applications with a few features turned off, you can check the current progress [here](https://github.com/ScrelliCopter/void-packages/commits/trinity).
I haven't tested running a full desktop environment yet, I'll report back if I do get that working &

[2020-04-24 19:02] Mothrakk commented on #21299
@xtraeme don't let these trannies tell you what to do, it's your project, if they don't like it they can fuck off or fork it

[2020-04-24 19:32] rugalash commented on #21299
All of you dweebs should calm down and just go about your business, stop obsessing over how and why others do what they do.

[2020-04-24 19:33] the-maldridge commented on #21299
Aaand locked to contributors.

[2020-04-24 20:51] emacsomancer commented on #6383
In the soon to be released version 27, Emacs won't need imagemagick any more to resize images &c., so probably the easiest thing is just to wait for the next version (which'll be along soon).

[2020-04-24 20:56] emacsomancer opened #21311 "kdeconnect-related MIME error"
### System

* xuname:
  *Void 5.6.7_1 x86_64 GenuineIntel uptodate rrrmFFFFFFFFFFFFFF*
* package:
  *kdeconnect-20.04.0_1*

### Expected behavior
no errors messages
### Actual behavior
Every update of the MIME database generates a complaint:

`Error in file "usr/share/applications/org.kde.kdeconnect_open.desktop": "*/*" is an invalid MIME type ("*" is an unregistered media type)`

### Steps to rep

[2020-04-24 21:13] emacsomancer commented on #21154
(in the meantime, Nix's version of the mullvadvpn-app works well on Void.)

[2020-04-25 00:47] dawidpotocki commented on #18612
Didn't get any reply and I believe that it's fixed. Closing.

[2020-04-25 00:47] #18612 closed

[2020-04-25 02:34] not-chicken commented on #20957
@biopsin You can take templates from here as a starting point. https://github.com/not-chicken/void-packages/tree/kick

[2020-04-25 02:40] fosslinux commented on #21163
Thought it was fixed, apparently not.... need to find a way to disable it for the bootstrap.

[2020-04-25 06:22] ahesford opened #21323 "Broken xbps-src builds as a result of pycompile and python_version behavior changes"
The move to drop the default `python_version=2` in favor of no default, in combination with the move to derive the `pycompile_version` value from `python_version`, has broken builds that declare `pycompile_dirs` without `python_version`.

The hook `common/hooks/post-install/04-create-xbps-metadata-scripts.sh` tries to discover the `pycompile_version` from the existence of `usr/lib/pythonX.Y`. Howe

[2020-04-25 07:01] Chocimier commented on #21323
Note, this only works when there is exactly one `X.Y`.

[2020-04-25 07:05] biopsin commented on #20957
@not-chicken; nice, will take a look, tnx

[2020-04-25 09:44] slotThe commented on #19464
@leahneukirchen I suppose this can be closed now that #20365 got merged.

[2020-04-25 11:44] ahesford commented on #21323
Right. This is also true in `common/hooks/pre-pkg/03-rewrite-python-shebang.sh`. I think this is proper behavior; trying to decide what to do when a package created two Python libdirs is prone to error. Let the template specifically list `python_version` in those ambiguous cases.

[2020-04-25 14:41] #21323 closed

[2020-04-25 15:42] leahneukirchen commented on #19464
Yes, thanks to everyone that helped!

[2020-04-25 15:42] #19464 closed

[2020-04-25 15:43] #21298 closed

[2020-04-25 16:40] esmoak commented on #21154
Thanks for this. Looks like it's time for me to figure out Nix packages.

[2020-04-25 17:27] emacsomancer commented on #21154
It's pretty easy. Basically follow the instructions at https://nixos.org/nix/manual/#ch-installing-binary and then `nix-env -i mullvad-vpn`.

[2020-04-25 19:38] #21252 closed

[2020-04-26 10:05] anjandev opened #21347 "minigalaxy: /share/minigalaxy/ui/login.ui: No such file or directory"
### System

* xuname:
[code]
* package:
  * minigalaxy-0.9.4_1

### Expected behavior
launching minigalaxy launches minigalaxy.

### Actual behavior

I get the following output:

[code]

### Steps to reproduce the behavior
Try to launch minigalaxy.

[2020-04-26 14:44] SamHSmith opened #21352 "Update pipewire to 3.2"
Hi I have been trying to update all the gnome packages to 3.36 and so far it has been going okay. I did hit a snag when needing to bump pipewire to 3.2. I don't have the xbps-src knowlage to properly do it so I was wondering if someone else could update it for me? Once it has been updated I can help contribute to updating gnome packages.

[2020-04-26 15:05] not-chicken commented on #21347
Weird. I wasn't able to reproduce this on my main PC but can do on my other one.
Check if you can launch it by
[code]
It looks to me that issue is with the change in paths defined in the source by [this](https://github.com/sharkwouter/minigalaxy/commit/b0f71e5c05972314bf5a7318019e600b2b8d9daf) commit.

As far as I can tell this shouldn't be packaging related. Still I'd prefer someone with experien

[2020-04-26 15:48] toluschr commented on #21352
I've been doing the same, but for me `gnome-session` doesn't start because of some gsettings error. Could you send me your template files?

[2020-04-26 16:06] SamHSmith commented on #21352
@toluschr There's no point in me sending my template files since I never got it to build. I followed the dependency chain and got stuck on pipewire. The template file is quite complicated since pipewire provides alsa, pulseaudio and jack .so files for applications to link to. And on top of that 3.0 saw the addition of a central server that I think needs additional setup.

I would be happy to take

[2020-04-26 16:44] not-chicken commented on #21352
It is currently blocked by xdg-desktop-portal #20413, and the previous maintainer has moved on to another distribution.

[2020-04-26 16:49] maxice8 commented on #21352
@SamHSmith I am no longer in Void Linux

[2020-04-26 16:52] NeelChotai commented on #20912
Submitted a pull for this (#21353), definitely preferable to changing the run file every update.

[2020-04-26 18:05] mobop opened #21354 "add brave browser"

[2020-04-26 18:08] jnbr commented on #21354
duplicate of https://github.com/void-linux/void-packages/issues/5444

[2020-04-26 18:08] #21354 closed

[2020-04-26 18:48] SamHSmith commented on #21352
@not-chicken Fantastic. I will wait for that then before doing the gnome stuff.

[2020-04-26 18:48] #21352 closed

[2020-04-26 18:57] svenper commented on #18581
Never mind what I said above, I forgot I had messed with my drivers. #21355 Works!

[2020-04-26 22:03] #20861 closed

[2020-04-26 22:10] leetnc opened #21359 "[Package Request] OSMO"
OSMO -  A PIM tool.  Personal organizer, which includes calendar, tasks manager, address book and notes modules.
Links:
https://sourceforge.net/projects/osmo-pim/
http://clayo.org/osmo/

[2020-04-27 06:00] mithodin opened #21369 "linux5.6 unavailable on i686"
5.6 has been available on x86_64 (and some other archs) for a few weeks now, but not on i686. Is there a specific reason for this, or has it simply been forgotten?

[2020-04-27 06:45] Hoshpak commented on #21369
I rather looks like the person creating the template didn't bother to create a config for the architecture. Someone has to do that and PR it for the kernel to become available.

[2020-04-27 06:51] mithodin commented on #21369
Well, is there documentation available for how the config is supposed to look like? Just enable all the modules? I have a grand whopping one i686 machine, so I'm not sure a config that works for me(TM) would be sufficient as a general template.

[2020-04-27 06:59] Hoshpak commented on #21369
New configs are generally created using `make oldconfig` over an earlier config (5.5 would be best to use in that case). The new options should mostly be set according to the existing x86_64 config. If there are options specific to the i686 architecture, I would look into the documentation on how to set them oder go with the defaults. The resulting configuration should be tested on physical hardwa

[2020-04-27 07:00] mithodin commented on #21369
Right. I'll give it a go then.

[2020-04-27 07:51] Val6789 opened #21371 "Package request: Qt Phantom Style"
Name: Phantom Style
What is it: Cross-platform QStyle for traditionalists. A modified Fusion Qt style.
Licensing: GNU LGPL
Github repo: https://github.com/randrew/phantomstyle

[2020-04-27 10:02] biopsin commented on #21359
"Made a template", however only tested build for x86_64,
and we are missing libgringotts so backup is unavailable for now.
https://github.com/biopsin/voidpkg/commits/master

[2020-04-27 10:23] apaul50 opened #21374 "Linux5.x series: Enable CONFIG_CIFS_SMB_DIRECT"
Hello,

I noticed CONFIG_CIFS_SMB_DIRECT is disabled in kernel 5.x series, and I was wondering if it was intentional or not. SMB2 and SMB311 used to be enabled in 4.x series.

Thanks,

[2020-04-27 13:31] #21311 closed

[2020-04-27 16:45] jnbr commented on #21245
In my case, the problem is due to the sandbox not allowing / crashing on `SYS_fork`.
You can test if it's the same for you by setting `security.sandbox.content.syscall_whitelist` in `about:config` to `57`.

[2020-04-27 17:09] svenper commented on #21245
Same here! :detective:

[2020-04-27 17:13] jnbr commented on #21245
Ok, thanks for testing. I'll prepare a proper fix.

[2020-04-27 20:31] Vaelatern commented on #20935
Should note that dfly, an OS that cares a lot about SMP, does use libressl, but they are only x86_64.

It may be that openssl is no longer the tire fire it was when Void Linux switched. More importantly, it may be that adoption of OpenSSL is more in line with Void's philosophy than staying on LibereSSL.

But there is about to be a new LibreSSL release. I'd propose that we wait for that release and

[2020-04-27 20:45] travankor commented on #21371
There are no tagged releases for this.

[2020-04-28 07:23] Val6789 opened #21424 "Package request: LXQt Archiver"
Name: LXQt Archiver
What is it: A simple & lightweight Qt file archiver. Part of LXQt since 0.15.
Licensing: GNU GPL
Github repo: https://github.com/lxqt/lxqt-archiver

[2020-04-28 07:59] ScrelliCopter commented on #21371
I have a template ready to go for this, already asked the developer to make a tagged release and he hasn't got around to it yet.

[2020-04-28 14:02] RibalGZ opened #21427 "Package request: vkBasalt"
A vulkan post processing layer
Source: https://github.com/DadSchoorse/vkBasalt
Release: https://github.com/DadSchoorse/vkBasalt/releases/tag/v0.3.1

[2020-04-28 14:21] bsduck opened #21429 "subpixel rendering is broken in GTK programs"
Hello,

RGB subpixel font rendering does not work as expected with GTK programs.

Enabling it in the Xfce settings panel gives a broken rendering across the whole desktop environment. Doing so in Plasma gives a very good rendering in KDE programs but a poor one within GTK programs.

While some other Linux systems fail at this too (Fedora, Mageia), most (including Debian, Manjaro, Solus, openSUSE..

[2020-04-28 15:02] marek-lach opened #21434 "[Package Request]: Zotero - bibliography & citation management"
Package name: **Zotero**
A citation management application.
Github sources: https://github.com/zotero/zotero
License: GNU AFFERO GENERAL PUBLIC LICENSE

Thanks!

[2020-04-28 21:24] HadetTheUndying commented on #21427
The instructions appear to state that it's not intended to be installed systemwide. Have you tried building it locally yet?

[2020-04-28 22:24] leetnc commented on #21359
I dipped my toe into the xbps-src waters for the first time, and was able to build OSMO from your template !
Suggestion:  Add “ical” to the ‘build_options_default’  list.
Reason - The default calendar presentation in OSMO starts the week with Monday.  This default can be disabled in the OSMO  Preference Menu, Calendar tab.  But the “ical” build option is required for the Calendar tab to show up.
N

[2020-04-29 02:49] biopsin commented on #21359
Good to read! xbps-src is such a delight to use. If you get stuck in anyway, either search the templates here for hints or always ask the peeps on the wire.
Still need to test against musl and pack libgringotts for the backup to function, but you are welcome to beat me to it :D .. (memo: add ical to defaults)

[2020-04-29 06:43] travankor commented on #21429
@bsduck

Can you try this?

Add to `~/.config/fontconfig/fonts.conf`:
[code]

[2020-04-29 08:17] Hoshpak commented on #21374
Looking at the history it looks like it was experimental at first and we don't enable experimental features. It stayed disabled because no one needed it up to now and no one noticed that it's no longer experimental. I don't see a problem with enabling it now.

[2020-04-29 10:06] marek-lach opened #21457 "[Package Request]: Texmaker"
An advanced LaTex editor with auto-completion, and an outline.
**Source code**: https://www.xm1math.net/texmaker/texmaker-5.0.4.tar.bz2
**Dependencies**: Qt toolkit (version >= 5.7; gcc, clang and/or msvc.

[2020-04-29 10:40] not-chicken commented on #21457
[code]
It's available! :D

[2020-04-29 13:00] non-Jedi opened #21460 "nheko needs dependency on qt5-graphicaleffects"
Otherwise chat windows are blank. Can't make a PR right now, so I'm opening an issue instead.

[2020-04-29 13:27] apaul50 commented on #21374
Thank you for clarification.
I'd be interested by enabling it, so I edit the subject of this issue so it could be flagged as a request.

Thanks !

[2020-04-29 14:14] #21457 closed

[2020-04-29 14:47] #21460 closed

[2020-04-29 18:45] CameronNemo commented on #21434
Looked into this -- it is a bit weird. They use firefox/gecko/xul under the hood. Not the most simple build process.

https://www.zotero.org/support/dev/client_coding/building_the_standalone_client

[2020-04-29 19:25] pullmoll commented on #21434
I've also been trying to package this.. not very nice and currently failing at checking `AWS S3 Access: Unable to locate credentials. You can configure credentials by running "aws configure".`

Current template:
[code]

[2020-04-29 20:37] pullmoll commented on #21434
Okay, I give up. This is a huge mess and one of the worst I have seen so far ;-P

[2020-04-29 20:39] luhann commented on #21434
I've also tried to package zotero for Void and Tumbleweed and I couldn't get it to work.

Currently I just download the releases from Zotero and use them.

[2020-04-30 05:26] ericonr opened #21482 "ulatencyd package is broken due to missing ConsoleKit2 dependency"
I'm not entirely certain on how to proceed in this case, because it seems the package can still work as is, just requires a rebuild and some rework on the current service files, which depend on consolekit.

@thypon I believe you're the maintainer for this one, right?

[2020-04-30 05:57] ericonr opened #21483 "Currently uninstallable packages"
So, I basically queried all available packages and ran "xbps-install -n" on them.

Here are the results:

[code]

- [ ] ruby-travis seems completely broken
- [ ] pylibgen should be tagged broken or updated
- [ ] python3-ipaddr doesn't exist, maybe we can just remove from template
- [ ] cegui-devel is searching for boost-python, but actual package name is boost-python1.72 No idea how to fix this on

[2020-04-30 07:06] wangp commented on #13871
Copy-paste will only work if mupdf-gl is built against the bundled copy of FreeGLUT, which adds the  functions glutSetClipboard and glutGetClipboard.

[2020-04-30 07:24] ericonr commented on #21483
Now for musl:

- [ ] wxMaxima and xMaxima, maxima{,-src,-emacs} depend on glibc
- [ ] boost-python{,3} is still available in versions like 1.68, so it can't find boost-1.68
- [ ] dylena-{core,renderer,server}-devel can't find dylena-{server,core}
- [ ] gloobus-preview should be broken, given that unrar isn't available in musl
- [ ] gutenberg 0.10 needs zola 0.10, zola is 0.9
- [ ] julia can't find

[2020-04-30 07:39] ericonr commented on #21482
Has to do with #21484, too.

[2020-04-30 08:41] #21434 closed

[2020-04-30 09:26] dbischof90 opened #21486 "Various i686 packages do not run on all i686 processors"
### System
ThinkPad T23, 1GB RAM, Pentium III Tualatine-256 1133MHz (Includes MMX, SSE)

* xuname:
Void 5.4.34_1 i686 GenuineIntel uptodate rF

* package:
Various packages, explicit examples go and rust

### Expected behavior
I would expect that these packages are runnable - at least rust can be compiled for the i586 architecture, so I would expect that the P3 CPU should be able to run it

### Act

[2020-04-30 09:30] pullmoll commented on #21374
I'm working on enabling it for linux5.4-5.4.36; currently building for all targets.

[2020-04-30 09:58] pullmoll commented on #21486
See [minimum requirements](https://docs.voidlinux.org/installation/base-requirements.html)

[2020-04-30 10:46] marek-lach opened #21487 "[Package Request]: micro - a modern terminal-based text editor"
**Coded repo**: https://github.com/zyedidia/micro
MIT License

Thank you!

[2020-04-30 11:00] Johnnynator commented on #21487
https://github.com/void-linux/void-packages/blob/master/srcpkgs/micro/template

micro already exists in the repo.

[2020-04-30 11:00] #21487 closed

[2020-04-30 11:31] dbischof90 commented on #21486
That's true, I should have checked that better. I understand the SSE2 restriction, it's the minimal viable common denominator for most of the current packages on x86 32 bit.

I'm just a bit confused as technically almost none of the i686 CPUs are supported if I get that right? (taking a list for example from https://www.linuxquestions.org/questions/linux-hardware-18/what%27s-the-difference-between

[2020-04-30 11:38] Johnnynator commented on #21483
cegui just needs a revbump probab;y.

[2020-04-30 12:23] pullmoll commented on #21486
@dbischof90 Lack of (human) resources is the main reason to not support anything i686 < P4.
See we are a team of about 20 - 30 active contributors and try to manage a from-scratch Linux distribution with more than 10.000 packages in the repository.

The i686 arch support was already removed **completely** from all major Linux distributions because it is *very* legacy and causes trouble to maintain

[2020-04-30 12:54] #21486 closed

[2020-04-30 14:20] #21170 closed

[2020-04-30 17:05] apaul50 commented on #21374
Thanks !
xbps-query -Rs linux5 doesn't show me 5.4.36 yet (I'm still stuck with linux5.4-5.4.35_1, running x64). But I could test it as soon it is available.

Since it's replacing SMB2 and SMB311, this module is needed when mounting cifs version >1. For instance I think mounting a Windows 10 share would require it.

Thanks for your work :) !

[2020-04-30 17:44] q66 commented on #21374
Are you sure? As it looks to me this option is fairly niche stuff about using SMB over RDMA/infiniband.

[2020-04-30 18:07] jnbr commented on #21483
julia on musl is broken since it was switched to an internal llvm. The outdated version should be cleaned from the repos.

[2020-04-30 20:18] 0n-s opened #21494 "ejabberd overwrites system Elixir"
### System

* xuname:
  Void 5.4.35_1 x86_64 AuthenticAMD uptodate rrrmFFFFF
* package:
  ejabberd-20.02_2

### Expected behavior
ejabberd should use the elixir package in XBPS instead of installing its own. If it requires a specific version, it could be packaged & work with xbps-alternatives to allow usage of the latest elixir, or at least not overwrite each other's files & not break each other (

[2020-04-30 20:29] apaul50 commented on #21374
@q66 After reading the description again, you may be right... I'm really confused. Since I recently switched on kernel 5.4.33, I'm not able to mount my office smb share (vers 2.0). If I boot on 4.19.114 I can mount it (provided I explicitly specify vers=2.0 option).

Watching the config file, I noticed CONFIG_CIFS_SMB311 wasn't present in 5.4 series, and maybe thought too fast it was replaced by C

[2020-04-30 20:30] #21424 closed

[2020-04-30 20:58] q66 commented on #21374
I mean, it's still good to enable it as it has its uses, but it will not fix your problem, you will have to find the real cause

[2020-04-30 21:38] CameronNemo commented on #20935
Regarding libtls, we may have an option in this library (note: I have not vetted this):

https://sr.ht/~mcf/libtls-bearssl/

[2020-04-30 22:08] apaul50 commented on #21374
Yes indeed. No problem, I will investigate further.

[2020-05-01 01:10] daniel-eys commented on #21483
Fix for ruby-travis: https://github.com/void-linux/void-packages/pull/21507

[2020-05-01 08:18] #21369 closed

[2020-05-01 08:44] mithodin commented on #21369
Hey, thanks a lot! I had not found the time yet to do it myself.

[2020-05-01 11:51] SimonPersson opened #21512 "Conky is missing manuals"
I tried to fix this myself, but couldn't figure it out...

### System

* xuname:
`Void 4.19.26_1 x86_64 GenuineIntel uptodate rFFF`

* package:
`conky-1.11.5_1`

### Expected behavior
`man conky` opens up the manual page.

### Actual behavior
An error message is displayed

### Steps to reproduce the behavior
[code]

[2020-05-01 12:33] marek-lach opened #21514 "[Package Request]: KBibTeX - bibliography & citation management (a KDE application)"
Replaces #21434, #13122

Source code: https://github.com/KDE/kbibtex
License: GPL
Dependencies: poppler-qt5, qt5-xmlpatterns, ktexteditor

Thank you...

[2020-05-01 12:45] bsduck commented on #21429
This fixes the problem, indeed.

[2020-05-01 17:59] marmeladema commented on #20935
By the way, new release of LibreSSL is out since early April:
* https://ftp.openbsd.org/pub/OpenBSD/LibreSSL/libressl-3.1.0-relnotes.txt
* https://ftp.openbsd.org/pub/OpenBSD/LibreSSL/libressl-3.1.0.tar.gz
* https://ftp.openbsd.org/pub/OpenBSD/LibreSSL/libressl-3.1.0.tar.gz.asc

[2020-05-01 22:13] ericonr commented on #21483
Thanks @daniel-eys!

[2020-05-02 06:25] vain commented on #3549
Just for the record, even if this issue is pretty old (I stumbled on it a couple of weeks ago):

-   Since v20.04, xiate defaults to using `Monospace`. Should improve the experience when used out-of-the-box. (Still, I'd recommend manually cloning and compiling as it's the only way to change settings. Similar to suckless tools.)
-   qsqs has a stable release v20.03 now.
-   (The `Ttyp0` part in the

[2020-05-02 08:35] #21245 closed

[2020-05-02 11:22] sgn commented on #21347
Better receipt for reproducible bug:

    /bin/minigalaxy

[2020-05-02 11:53] sgn commented on #21347
Please test with #21554, I'll merge it in tomorrow.

[2020-05-02 13:44] #21347 closed

[2020-05-02 14:26] #21512 closed

[2020-05-02 15:04] CMB opened #21559 "ppp: the musl package is missing /usr/lib/pppd/2.4.7/rp-pppoe.so"
The glibc version has it; the musl one does not.  The musl package had
that library up until sometime earlier this year.
I have not tried looking into this yet.

[2020-05-03 03:58] flexibeast opened #21578 "NetworkManager: Improve polkit rules"
Opening this issue based on https://github.com/void-linux/void-docs/issues/135.

It seems the NM package might need to include a file `/etc/polkit-1/rules.d/50-org.freedesktop.NetworkManager.rules` with permissions 644. Is/are there any reasons to not do so?

cc: @Gottox as maintainer

[2020-05-03 04:17] sgn commented on #21559
Weird, the local build have that file.
I'll to bump and check

[2020-05-03 05:10] #21559 closed

[2020-05-03 09:10] notramo opened #21581 "Package request: grub-btrfs"
Include BTRFS snapshots at boot options in GRUB menu.
https://github.com/Antynea/grub-btrfs

[2020-05-03 09:39] Gottox commented on #21578
In general it should be fine to allow a network group to have access to NetworkManager. But one small questions though, elogind is capable to set the permissions too, is there a reason to not rely on this machanism?

[2020-05-03 10:11] notramo opened #21583 "Package request: Howl editor"
https://howl.io

[2020-05-03 11:29] sgn commented on #21294
Fixed by #21257

[2020-05-03 11:29] #21294 closed

[2020-05-03 13:54] flexibeast commented on #21578
@Gottox:

Good question! My experience thus far has been that a number of users would prefer not to have to install and use elogind (cf. e.g. the Wayland + elogind discussions), for a variety of reasons, including the size and complexity of its codebase: `sloccount(1)` reports almost 120,000 lines of C, which creates a large attack surface.

My feeling is that we might need a project-wide decision

[2020-05-03 14:57] Gottox commented on #21578
Good point. I think adding the file is fine👍

[2020-05-03 16:45] ErinVoid opened #21587 "Profanity Python dependency version uplift"
* package:
  profanity 0.81

Can this be adjusted/rebuilt to have Python3 as a dependency rather than the current Python2 please. It is possible, see #https://github.com/profanity-im/profanity/issues/825. Thank you.

[2020-05-03 17:06] ObscureScience opened #21589 "Minio runit script changes permissions of shared directories"
### System

* xuname:
  Void 5.6.8_1 x86_64-musl GenuineIntel uptodate rFF
* package:
  minio-2020.04.28_1 Object storage server compatible with Amazon S3

### Expected behavior
Service to fail when not granted sufficient permissons to provided data
### Actual behavior
On every `sv start minio` the script first recusively changes ownership of shared/exported data to _minio:_minio. Not only does th

[2020-05-04 00:49] sgn commented on #21589
@arete I'll push this:
[code]

[2020-05-04 01:03] anarchomoh commented on #10601
can I request a re-open? It fails to build from source:
=> ERROR: cannot convert shebang, set python_version
=> ERROR: plex-media-server-1.15.3.876_3: pre-pkg_03-rewrite-python-shebang: 'find "${PKGDESTDIR}" -type f -print0' exited with 1
=> ERROR:   in hook() at common/hooks/pre-pkg/03-rewrite-python-shebang.sh:19
=> ERROR:   in run_func() at common/xbps-src/shutils/common.sh:21
=> ERROR:   in ru

[2020-05-04 02:32] Morgareth99 commented on #21581
# Template file for 'grub-btrfs'
pkgname=grub-btrfs
version=4.3
revision=1
archs="x86_64"
build_style=gnu-makefile
depends="btrfs-progs grub"
short_desc="Include btrfs snapshots in GRUB boot options"
maintainer="Morgareth <morgareth@tutanota.com>"
license="GPL-3.0-or-later"
homepage="https://github.com/Antynea/grub-btrfs"
distfiles="https://github.com/Antynea/grub-btrfs/archive/${version}.tar.gz"

[2020-05-04 03:56] concatime commented on #20935
@travankor, from the [link](), BearSSL does NOT implement TLS1.3

[2020-05-04 03:58] concatime commented on #20935
(https://www.nccgroup.trust/us/about-us/newsroom-and-events/blog/2019/february/downgrade-attack-on-tls-1.3-and-vulnerabilities-in-major-tls-libraries/)
@travankor, to be fair, BearSSL does [NOT](//bearssl.org/tls13.html) implement TLS 1.3.

[2020-05-04 04:14] maxice8 commented on #10601
Open a FTBFS issue

[2020-05-04 12:28] travankor commented on #20935
@concatime I only suggested to xtraeme that he considers a bearssl backend for xbps. Since he's gone, it's up to the community to decide.

I doubt anyone would port xbps to MatrixSSL, given that it changes the effective license of the derived work.

[2020-05-04 13:03] #21589 closed

[2020-05-04 13:27] sgn commented on #21587
@ailiop-git, I'll push https://github.com/sgn/void-packages/commit/a2db04e5098f35e8e14f1b1e7ac1f2f695f766d7 if you don't have objection:
[code]

[2020-05-04 13:54] ailiop-git commented on #21587
i'm really not using python (or python plugins for profanity), but i suppose given that python2 is being EOLed it wouldn't generally hurt to switch to 3, and your patch appears to at least build (at least on x86_64/glibc).

Keep in mind though that the change may of course break any plugins that are written/compatible with only python2 (we don't package profanity-plugins, but still).

So the quest

[2020-05-04 17:23] ErinVoid commented on #21587
Thanks for the replies.

@ailiop-git Apart from Python2 is EoL and it would be the only application on my PC requiring it, just personal preference. However, from [https://profanity-im.github.io/plugins.html](url) it confirms the Profanity can be complied with Python 2 or 3 and the plugins should run with either. It would be very useful to have the OMEMO support.

One question, for my curiosity, w

[2020-05-04 17:44] ailiop-git commented on #21587
If you are using plugins and can confirm that it is working with python 3, then I have no objections. As mentioned, we could also consider disabling python by default if people aren't using the functionality (and still merge the v3 support).

It's by default built, and doesn't depend on python. I'd actually ask again if anyone is using it (I'd think OTR is more popular), and otherwise disable it b

[2020-05-04 19:09] Johnnynator opened #21617 "qutebrowser with webkit backend crashing on musl"
### System

* xuname:
  *Void 5.4.38_1 x86_64-musl GenuineIntel notuptodate rrFFFFFFFFFFFFF*
* package:
  *qutebrowser-1.11.0_1*
  *python3-PyQt5-webkit-5.13.2_2*
 *qt5-webkit-5.212.0_7*

### Expected behavior
Not segfaulting

### Actual behavior
[code]
backtrace: http://ix.io/2kNQ

### Steps to reproduce the behavior
install `qutebrowser` and `python3-PyQt5-webkit` and start `qutebrowser --backen

[2020-05-04 23:07] sgn commented on #21587
On 2020-05-04 10:44:27-0700, ailiop-git <notifications@github.com> wrote:

I think it'll be better to push it out and wait to see if anyone
complains.

--
Danh

[2020-05-05 05:55] DeepwaterCreations opened #21641 "libbluray needs to build .jar for bluray menus to work"
### System

* xuname:
  Void 5.4.38_1 x86_64 GenuineIntel uptodate rrrmFFFF
* package:
  libbluray-1.2.0_1

### Expected behavior
Blurays play fine in VLC, including their menus.

### Actual behavior
VLC tells me that it can only play blurays in no-menus mode because I don't have Java installed, even though I do have Java installed.

### But what does this have to do with the libbluray package?
To

[2020-05-05 06:01] DeepwaterCreations commented on #21641
For anyone looking to confirm the problem, here's the VLC terminal output I get:

[code]

Aside from the messages about libbluray.jar not being found, this is the one that made me stop assuming my JAVA_HOME path was broken somehow:
`[00007f9ac8001120] libbluray demux error: BD-J menus not supported. Playing without menus. BD-J support: 1, JVM found: 1, JVM usable: 0`
Digging into the libbluray sou

[2020-05-05 07:19] tankf33der opened #21642 "gcc-ada is broken and cant compile"
install gcc-ada and try compile "hello world" code:
[code]

[2020-05-05 08:06] teldra commented on #21587
OMEMO should left turned on. Many XMPP Clients offer OMEMO support. Some exclusively (Conversations, Gajim, Dino..) In profanity its supported via libsignal-c library.
Profanity v0.8.x was mostly about implementing OMEMO.

[2020-05-05 08:33] ErinVoid commented on #21587
From what everyone is writing, just an uplift to Python3 would be ideal. Leaving everything else as-is, i.e. Python support in, including OMEMO (and OTR even though more and more apps no longer support it) and gtk.

@ailiop-git thanks for clarifying about gtk. Just curious as trying to improve my software/dev understanding.

Thank you all for being involved and making this happen.

[2020-05-05 08:48] Gottox opened #21646 "test-issue for notifications"
### System

* xuname:
  *output of ``xuname`` (part of xtools)*
* package:
  *affected package(s) including the version*

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2020-05-05 08:49] #21646 closed

[2020-05-05 11:02] Gottox opened #21649 "Implicitly set conf_files"
What about marking any files in /etc automaticly as conf_files. are there any counter-examples where this would break anything?

[2020-05-05 11:12] Duncaen commented on #21649
Yes scripts in `/etc/sv/` and `/etc/runit` should probably not be `conf_files` by default, especially if a user sets `keepconf=yes` in xbps.d, which will always create `.new-$version` files even if the previous configuration file was never changed.

[2020-05-05 12:09] #21578 closed

[2020-05-05 12:30] chefuik opened #21650 "Early termination of the sctd daemon."
### System

* xuname:
  *Void 5.4.38_1 x86_64-musl GenuineIntel uptodate rrnFF*
* package:
  *sct-0.5_1*

### Expected behavior
the sctd daemon after running continues to work
### Actual behavior
the sctd daemon after starting ends with message:
"logger: socket /dev/log: No such file or directory
logger: socket /dev/log: No such file or directory"
### Steps to reproduce the behavior
run in termina

[2020-05-05 13:39] abenson commented on #21642
You're missing `libada-devel`. Seems its not pulled in by default.

[2020-05-05 14:00] tankf33der commented on #21642
indeed. helped.

[2020-05-05 14:05] Duncaen commented on #21650
Not sure how we can solve that, sctd uses logger which now for some reason hard fails if there is n syslog daemon running.

https://docs.voidlinux.org/config/services/logging.html#syslog

[2020-05-05 14:24] #21642 closed

[2020-05-05 15:45] chefuik commented on #21650
thanks for reply,
[code]
solves the issue.

[2020-05-05 15:45] #21650 closed

[2020-05-05 16:39] #21587 closed

[2020-05-05 16:44] sgn commented on #21649
- Files provided by `grml-zsh-config`
- `/etc/bash/bashrc` (not sure about this one)

Those files shouldn't be marked as conf

[2020-05-05 18:18] MatthiasGrandl opened #21660 "Package request: wayvnc"
https://github.com/any1/wayvnc

Very handy tool for `Sway` and other `wlroots` based compositors. Would love to see it packaged.

[2020-05-05 20:19] klarasm opened #21662 "ghostscript does not include cups device support on armv6-musl and probably others"
I discovered this when trying to set up a print server on a Raspberry PI 1 model B. Cups complains of `unknown device: cups` It seems that ghostscript is not built with cups device support, as can be seen below.

Using `xbps-query ghostscript` on my x86_64 desktop system shlib-requires include `libcups.so.2` which is not included on the Raspberry Pi. I compiled ghostscript for x86_64, x86_64-musl,

[2020-05-05 21:22] apaul50 commented on #21374
Hello,
It was obvious, but I can now definitely confirm this module has no concern about issues mounting v2+ smbshares. As I said above, I'll investigate.

I don't really know what to do with this issue since I'm unable to test it... Is it ok too close?

Thanks !

[2020-05-05 21:42] ProjectMoon commented on #10582
A shared electron package would be useful for other things that need it (e.g. riot-desktop).

[2020-05-06 03:38] shizonic commented on #10582
Feel free to package it.

[2020-05-06 04:23] ericonr commented on #21662
Do you have bandwidth to compile it locally? It'd be interesting to find out if the issue stems from cross compiling or something else. I think I can try it later, if you can't.

[2020-05-06 04:27] ericonr commented on #21429
Should we close this issue or is there anything that can be done in packaging to solve it?

[2020-05-06 04:29] ericonr commented on #21371
@ScrelliCopter you can try to convince them to tag software only as a way of tagging milestones, no obligation to follow even semver.

[2020-05-06 05:41] ericonr commented on #21159
@howtologinquickwiththirtyninecharacters do you have `ghidra` installed on your system? A system package doesn't have to contain the same things an appimage does, because we can choose to install, or not, `ghidra` from the repos. Let me know if you can use it from there c:

@jnbr pretty sure my link was wrong, their issue is something else.

[2020-05-06 05:43] ericonr commented on #20744
Coming back to this, I thik the default procedure is to report the issue and seek a fix. If the fix is deemed important and has been accepted by upstream, we can try to patch it before a release.

[2020-05-06 05:50] ericonr commented on #20655
The `qt5pas-devel` package has a lot of dependencies itself. Can simple projects still work without that?

[2020-05-06 10:12] fosslinux opened #21680 "cross compiling gcc from scratch for x86_64-musl is broken"
Building `gcc` and hence `base-chroot-musl` from scratch for `x86_64-musl`, cross-compiling from x86_64 is broken.

[code]

I have no clue what is causing all of these errors.

The problem doesn't occur when `-N` is /not/ used.

I am trying to track down which dependency the problem lies in.

[2020-05-06 11:44] Cogitri commented on #10582
FWIW I recently made a MR for it for Alpine. It does compile now, but SIGSEGVs on musl. Maybe it'll work on glibc for you though: https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/7310

[2020-05-06 12:00] shizonic commented on #10582
Thank you. I'll give it a shot asap.

[2020-05-06 13:44] klarasm commented on #21662
I can try, but it may take a while as the Raspberry Pi 1 is not very powerfull.

[2020-05-06 19:17] ericonr commented on #21662
I have a rasp zero only :/

Perhaps @Duncaen could aid here?

[2020-05-06 22:09] leetnc commented on #21359
I have stumbled into the trap of the build trying to re-compile gcc and
cups because the version has changed since I first did the "git clone....."
exercise for the 'void-linux' directory.  Is there a convenient way to
update the templates  (~/void-packages/srcpkgs) without cloning the whole
thing again and editing it for templates I added for osmo, etc. ?  I may
not have the terminology quite rig

[2020-05-06 22:56] userabc123xyz commented on #17772
SeaMonkey 2.53.2 is out: https://www.seamonkey-project.org/releases/#2.53.2

[2020-05-06 23:00] userabc123xyz commented on #17772
It has already moved to a new codebase.

[2020-05-07 00:29] klarasm commented on #21662
The locally built package seems to include cups device support, and it also links against libcups.so.2 so it might be a problem with the cross-compilation as you said. I'll attach the build logs as well.

[xbps-query-ghostscript-rpi-local.txt](https://github.com/void-linux/void-packages/files/4590084/xbps-query-ghostscript-rpi-local.txt)
[build-ghostscript-rpi1-local.log](https://github.com/void-l

[2020-05-07 02:08] abenson commented on #21359
Add an 'upstream' remote.
    git remote add upstream git@github.com:void-linux/void-packages

Then you can run something like this:

   git pull upstream master --rebase --autostash

The former only needs to be done once; the latter I have as an alias and do it often.

[2020-05-07 02:13] abenson commented on #21359
Rereading your question -- wanted to double check, did you clone the `void-linux/void-packages` or did you fork and then clone that?

[2020-05-07 05:25] ericonr commented on #20402
@AngryPhantom given that this means Clipit is broken in a certain situation, and that upstream has a fix for it, if you can make a patch for the current version that fixes the issue, you can probably make a pull request which will be accepted. Void accepts patches from unreleased versions if it makes sense to do so, which I think thise case qualifies.

[2020-05-07 05:30] leetnc commented on #21359
I originally did this:  git clone
https://github.com/void-linux/void-packages
Worked fine.  I presume that I cloned the packages.  :-)
Ran into a snag on the subsequent effort, "..authenticity of host...cannot
be established....RSA fingerprint is....."
Will have to study the manual some more tomorrow.

On Wed, May 6, 2020 at 10:13 PM Andrew Benson <notifications@github.com>
wrote:

[2020-05-07 07:27] AngryPhantom commented on #20402
@ericonr I'm really sorry, I was born very very far from maths, programming, etc. It was hinted by the people from our Russian Linux forum. I've just pointed this out here. I was wondering who is the maintainer of Clipit and/or who can tag him in order to see this issue. Anyway, thank you for your feedback.

[2020-05-07 15:15] ericonr commented on #20402
@Gottox could you take a look at this, please?

[2020-05-07 15:17] Gottox commented on #20402
Looking into it.

[2020-05-07 16:07] klarasm commented on #21662
Sorry, seems I included the wrong build log for the cross-compilation for armv6-musl. I have updated with the correct one now

[2020-05-07 16:32] klarasm commented on #21662
I tried building with `./xbps-src -a armv6l-musl -C pkg ghostscript`. I found something interesting in the ghostscript Makefile:
[code]

If I build with `./xbps-src -C pkg ghostscript` I get this instead:
[code]

[2020-05-07 16:39] klarasm commented on #21662
This might be related:[6773c53b1af42eacc01075a5926632fad48887f3](https://github.com/void-linux/void-packages/commit/6773c53b1af42eacc01075a5926632fad48887f3).
This however makes me think that's not the case (from the armv6l-musl build log):
[code]

[2020-05-07 17:20] klarasm commented on #21662
Okay, so I undid the changes from that commit and fixed some resulting conflcts and ghostscript now seems to link with libcups.so.2. The changes are here: [b52d79b8d9e367f1fc2dbd23e137d8fc88fd5927](https://github.com/klarasm/void-packages/commit/b52d79b8d9e367f1fc2dbd23e137d8fc88fd5927).

[build-ghostscript_armv6l-musl-modified-template.log](https://github.com/void-linux/void-packages/files/459466

[2020-05-07 18:01] klarasm commented on #21662
Hmm. The Makefile still looks like this with the modified template:
[code]

[2020-05-07 18:21] klarasm commented on #21662
(sorry for spamming, accidentally closed the issue earlier)
Ok, this is interesting. With the modified template the x86_64 Makefile also looks like this (seems I also missed an important line earlier):
[code]

With original template (x86_64):
[code]

So it seems my change instead breaks build for x86_64 non-cross as well.

[2020-05-07 19:17] #20576 closed

[2020-05-08 00:03] anarchomoh opened #21732 "FTBTS Error: Plex Media Server"
### System

* xuname:
  Void 5.4.38_1 x86_64 GenuineIntel uptodate rrmFFFFF
* package:
 plex-media-server-1.15.3.876_3
### Expected behavior
Build from source
### Actual behavior
FTBTS Error
=> ERROR: cannot convert shebang, set python_version
=> ERROR: plex-media-server-1.15.3.876_3: pre-pkg_03-rewrite-python-shebang: 'find "${PKGDESTDIR}" -type f -print0' exited with 1
=> ERROR:   in hook() at c

[2020-05-08 00:27] jnbr commented on #21159
Even if it's possible to install ghidra, a plugin would still be needed to use it from inside cutter.
After looking at how this plugin would have to be built, I decided not to package it, anyone feel free to give it a try.

[2020-05-08 03:53] Luxed commented on #10773
I am trying to take the work where it was stopped on PR #20147.
The first thing I did was to move the `_target` from "usr/lib/dotnet" to "usr/share/dotnet", which is what is recommended in the official documentation found [here](https://docs.microsoft.com/en-us/dotnet/core/distribution-packaging).

Unfortunately, as I'm just starting out with the distro and have never worked on anything similar be

[2020-05-08 04:25] fosslinux commented on #21662
Let me confirm - when you cross build for `armv6l-musl`, it does show cups support to be on?

[2020-05-08 05:44] Cogitri commented on #10773
You're putting ELF files (so architecture dependant files) into /usr/share, but /usr/share is only meant for architecture independent files (e.g. icons, text files etc.). So /usr/lib does seem like the right location for the dotnet stuff.

[2020-05-08 07:44] ScrelliCopter commented on #21371
@ericonr That's essentially what I asked for and he said he's not interested in making arbitrary tags for arbitrary milestones that he's not got no intention of supporting, and suggested that if people wanted tagged releases somebody should fork and maintain those tagged releases downstream.

I'm not sure if such practice is frowned upon by the Void maintainers (as a cheap way of getting around th

[2020-05-08 09:36] not-chicken commented on #21732
Needs `python_version=2`
CC @Anachron

[2020-05-08 11:27] pullmoll commented on #21680
After bootstrapping for `x86_64` you have to build `gcc` again, because some of its subpackages are not build in the bootstrap. `./xbps-src -f -N pkg gcc` should do the trick. Afterwards you can build the cross gcc and base-chroot packages.

[2020-05-08 19:09] Johnnynator commented on #10582
I just gave it a try and got vscode on both glibc and musl running. I will post a PR later after cleaning some things up.
@Cogitri Intresting that it didn't work on Alpine, the only patch I added for Void was for glibc and no other changes to patches.

https://i.imgur.com/emvLfe4.png

[2020-05-08 19:11] Cogitri commented on #10582
Nice! :)

Apparently it _does_ work on Alpine, but electron likes to crash on XWayland (so it only works on X11). Do you happen to use X11, @Johnnynator ?

[2020-05-08 19:20] Johnnynator commented on #10582
Yeah, I was running on X11.

[2020-05-08 19:21] Johnnynator commented on #10582
But works also fine with Plasma wayland

[2020-05-08 19:24] Cogitri commented on #10582
Huh, weird, it crashes for me like this with GNOME Wayland: https://github.com/electron/electron/issues/9662#issuecomment-62211440

Can you maybe give me your electron x86_64 musl package so I can test if that works on Alpine too?

[2020-05-08 19:28] shizonic commented on #10582
Vscode natively on musl ?! A dream becomes true ... !

[2020-05-08 19:32] Johnnynator commented on #10582
@Cogitri https://void.johnnynator.dev/electron/ has the binary , also I forgot to mention, I removed a system zlib patch for the time since it somehow broke the build system (would be suprised if that actually "fixed" anything)

[2020-05-08 19:45] Cogitri commented on #10582
Hm, seems like that SIGSEGVs for me too when I do `/usr/lib/electron7/electron`

[2020-05-08 22:13] facadeproof opened #21762 "Package request: signal-cli"
For those not wanting to use `electron` in their systems, [signal-cli](https://github.com/AsamK/signal-cli) is a command line and dbus interface for Signal. This would allow other clients such as [scli](https://github.com/isamert/scli) to work.

A pull request was opened #13208 but hasn't been merged since last year.

[2020-05-08 23:05] ProjectMoon opened #21766 "KDE X11 should be started with dbus-run-session"
### System

* xuname:  Void 5.4.39_1 x86_64 GenuineIntel uptodate rrFFFFFF
  *output of ``xuname`` (part of xtools)*
* package:  plasma-workspace 5.18.5_1
  *affected package(s) including the version*

### Expected behavior
When starting Plasma X11 session from SDDM (or another login manager, probably), tray icons and dbus notifications work properly. The `DBUS_SESSION_BUS_ADDRESS` environment var

[2020-05-08 23:10] martindamianfernandez opened #21767 "Linux IOMMU Support cuase system freeze on boot"
### System

* xuname: Void 4.19.121_1 x86_64-musl GenuineIntel uptodate FF4
  xuname: Void 4.19.121_1 x86_64 GenuineIntel uptodate FF
  *output of ``xuname`` (part of xtools)*
* package: linux4.19, linux5.4.39 and may be many more kernels.
*affected package(s) including the version*

### Expected behavior
hangs igp on boot
### Actual behavior
when use kernel parameter intel_iommu=off system boots

[2020-05-08 23:30] fosslinux commented on #21680
Hm, even with `binary-bootstrap`? This problem is occurring when running `./xbps-src pkg -N -a x86_64-musl gcc` after `binary-bootstrap` too. Anyway, trying your suggestion now.

[2020-05-08 23:49] q66 commented on #21680
@pullmoll when using `bootstrap`, you should not use the resulting chroot for anything other than rebuilding `base-chroot` and all of its dependencies from scratch, and then rebootstrapping your chroot with `binary-bootstrap` again, `bootstrap` should never be used to create chroots meant for normal package building in general

[2020-05-09 03:35] Luxed commented on #10773
Thank you very much. I was able to get it working by putting the location in the "/etc/dotnet/install_location".
I was also able to run a simple "Hello world" console application by using `CLR_OPENSSL_VERSION_OVERRIDE=47`.
This is very rudimentary and cannot realistically be used.
Making sure that I can make powershell work is my next step.

[2020-05-09 04:23] mamins1376 opened #21776 "gscan2pdf: Add sane as a dependency"
### System

* xuname:  `Void 5.4.38_1 x86_64 AuthenticAMD notuptodate rrrmFFFFFFFF`
* package:  `gscan2pdf-2.6.7_1`

### Expected behavior
to Just Work(TM).

### Actual behavior

[code]

### Steps to reproduce the behavior

Make sure you don't have `sane` installed and:
`xbps-install gscan2pdf -y && gscan2pdf`

[2020-05-09 07:26] #21776 closed

[2020-05-09 07:57] travankor commented on #21767
What hardware are you using?

[2020-05-09 11:42] klarasm commented on #21662
The xbps-src build option is turned on as per the build logs, but the generated Makefile does not seem to include it.

[2020-05-09 11:46] Cogitri commented on #10582
Sorry to clutter the issue with that, but can you maybe give me a VSCode package too, @Johnnynator 😅

[2020-05-09 12:05] travankor commented on #21429
The problem that @bsduck experiences is that you need to specify lcdfilter with the Microsoft ClearType patch, otherwise you get color fringing. Most other distro's don't use ClearType because upstream recommends their non-patented solution ("Harmony") instead (they even claim their solution is better).

@ericonr I haven't done any scientific testing or anything, but I would be ok to `rm` ClearTyp

[2020-05-09 12:42] shizonic commented on #10582
Guess you are talking about a musl version? @Cogitri

[2020-05-09 12:43] Cogitri commented on #10582
Yup

[2020-05-09 13:41] shizonic commented on #10582
@Cogitri Have you seen this:
https://github.com/Johnnynator/void-packages/commit/e51b6a1fe705d1986448bc6d735bfe00b09550d5

[2020-05-09 14:18] Johnnynator commented on #10582
@Cogitri https://void.johnnynator.dev/electron/ has now everything I have build so far (also a test repo for everyone who is intrested)

[2020-05-09 14:31] cyclopsian commented on #18161
I just released 1.0 of wdisplays, so it can be packaged when ready.

[2020-05-09 15:07] shizonic commented on #10582
@Johnnynator You are awesome! Thanks a lot. I would adapt it for my current vscode 1.45.0 PR if you like.

[2020-05-09 17:08] Johnnynator commented on #10582
Feel free to do so.

[2020-05-09 17:17] shizonic commented on #10582
This includes electron itself ?

[2020-05-09 19:38] notramo opened #21798 "Package request: ssh_scan"
https://github.com/mozilla/ssh_scan

[2020-05-09 20:14] facadeproof opened #21802 "Package request: gomuks"
*deleted*

[2020-05-09 21:54] martindamianfernandez commented on #21767
very large list to desribe working a technical support.
this happen on laptops mostly skylake's, xeons v5.

[2020-05-09 22:51] Snektron commented on #20796
Closed by #21756

[2020-05-09 22:51] #20796 closed

[2020-05-10 00:11] leetnc commented on #21359
I have edged my way a little further up the learning curve.  Regards cloning the void-packages, this seemed to work:
First:      git clone https://github.com/void-linux/void-packages
Second: git remote add upstream https://github.com/void-linux/void-packages
Third:    git fetch upstream
Per your advice, I repeat the last one frequently.

I did get a successful build of OSMO,  including libgringott

[2020-05-10 01:02] ericonr commented on #21766
So this happens even when launching Plasma from SDDM? The .desktop file seems to come from upstream, so we really shouldn't have any issues due to it.

https://community.kde.org/KWin/Wayland#Start_a_Plasma_session_on_Wayland makes it clear that plasma wayland requires dbus-run-session, I'm curious about X11, though. Might be worth a bug report upstream, I'm asking about it on #kde.

[2020-05-10 02:39] ericonr commented on #21581
Wouldn't it be better to make a PR for it as well? That way you can put the template through CI as well.

[2020-05-10 06:18] fosslinux commented on #21680
Ok, @q66 's suggestion on IRC mostly works.

The solution here is to, from an git clone of void-packages:

[code]

It must have something to do with the differences between one of the packages made in the `-N`.

Should this be closed now? Or is this considered a bug?

[2020-05-10 09:03] BouncyMaster opened #21808 "Error when packaging mesa with -o ~wayland"
* system:
 `./xbps-src binary-bootstrap`
* package:
  `mesa (20.0.6)`

### Expected behavior
Compiling mesa with `./xbps-src -o ~wayland pkg mesa`  will package the program successfully.
### Actual behavior
* The first issue is that it also packages `clang` and `llvm` when only requesting mesa.
* After compiling `clang` and `llvm` i get these errors:
[code]
There were more errors but they were obs

[2020-05-10 10:54] Duncaen commented on #21808
xbps-src always uses the version of a dependency it has a template for, your clone is most likely outdated and uses llvm9 for clang while the void repositories contain clang build with llvm10.

[2020-05-10 13:07] ProjectMoon commented on #21766
There have been similar reported issues with other login managers. See https://www.reddit.com/r/voidlinux/comments/f2vsjr/switching_to_kde_broke_discord_tray_notification/ for lightdm. There's something funny with KDE on X and dbus. But where the problem "truly lies," I am not sure.

Could be:
* Bug in upstream KDE
* Bug in upstream SDDM (and lightdm apparently)
* Bug somewhere in Void's configura

[2020-05-10 13:51] st3r4g commented on #21808
Maybe there is a misplaced comma?
Try to change `$(vopt_if wayland wayland),`
into `$(vopt_if wayland wayland,)`

[2020-05-10 15:12] BouncyMaster commented on #21808
After updating the local repo and moving the comma `mesa` was packaged succesfully, thanks.

[2020-05-10 15:12] #21808 closed

[2020-05-10 15:18] st3r4g commented on #21808
The comma thing is a bug, so you can send a PR to fix it if you want

[2020-05-10 15:19] BouncyMaster commented on #21808
Will do

[2020-05-10 15:21] st3r4g commented on #21808
Don't bump the revision, so we avoid to rebuild

[2020-05-10 19:05] leetnc commented on #21359
Follow-up on my system-tray issue.  Fixed by:
Removed daemon-notify from desktop autostart.
Added file: /usr/share/dbus-1/services/org.freedesktop.Notification.service
Osmo icon shows up in system tray and works as expected.
[org.freedesktop.Notification.service.txt](https://github.com/void-linux/void-packages/files/4606582/org.freedesktop.Notification.service.txt)

[2020-05-10 22:34] ericonr commented on #21766
@Johnnynator have you ever had any issues with this?

I tried asking on IRC, got a resounding silence. Asking on r/kde might yield better results.

[2020-05-10 23:22] martindamianfernandez opened #21827 "New package: GCC 10.1 released [2020-05-07]"
https://gcc.gnu.org/gcc-10/changes.html

[2020-05-10 23:27] abenson commented on #21827
At the top of the issue form:

Void is currently waiting for 10.2 before starting the update process for it to avoid regresions and gremlins.

[2020-05-10 23:42] abenson commented on #21482
`ulatencyd` is [abandoned](https://github.com/poelzi/ulatencyd/blob/master/README.md#what-is-ulatency) upstream.

In any case, it's [broken](https://github.com/void-linux/void-packages/blob/596250e4ea9b50881e249518e02bd2b7a5aee7c8/srcpkgs/ulatencyd/template#L18) and won't build as is.

[2020-05-10 23:53] abenson commented on #20832
It suggets [Shortwave](https://gitlab.gnome.org/World/Shortwave) as an alternative.

[2020-05-11 02:03] ericonr commented on #21482
I went by the part right before it, especially considering we don't have systemd:

Think we should remove it or just leave as is?

[2020-05-11 04:41] galmio commented on #20744
Same issue with `cmus v.2.8.0`.

[2020-05-11 04:58] flexibeast commented on #20744
@galmio: Could you please open an issue with upstream about this? My personal feeling is that it's reasonable for people to want to run `cmus` in a console without a session bus (although of course, that would mean the MPRIS functionality will not be available).

[2020-05-11 09:53] #21827 closed

[2020-05-11 13:03] abenson commented on #21482
I'm in favor of removing it.

[2020-05-11 15:55] Ypnose opened #21841 "Package request: SameBoy"
SameBoy is a highly accurate Game Boy, Game Boy Color and Super Game Boy emulator.

https://sameboy.github.io/
https://github.com/LIJI32/SameBoy

`rgbds` will be also needed for SameBoy build :

https://github.com/rednex/rgbds

[2020-05-11 16:06] galmio commented on #20744
@flexibeast: I can open the issue but I would rather ask for an implementation of `sb_bus_default_system` as you mentioned than just merely dropping MPRIS functionality, since it's what I've been CMUS with in status bars in other distributions.

[2020-05-11 17:05] leetnc commented on #21359
Ran into continuing problem with the system tray while running in virtualbox (5.0.40).
Installed void-linux + lumina on a usb hard drive and did the osmo build.
System tray works fine.

[2020-05-11 17:10] ericonr commented on #21482
Made a PR

[2020-05-11 17:47] furryfixer commented on #21766
Probably not related?  But you should be aware of this:
[https://github.com/vector-im/riot-web/issues/12518](url)

[2020-05-11 18:08] ericonr commented on #21767
@martindamianfernandez I made a PR documenting it here https://github.com/void-linux/void-docs/pull/265, what do you think?

[2020-05-11 18:21] ericonr opened #21846 "apparmor still has an INSTALL.msg, but it's been documented in void-docs."
Fixed in https://github.com/void-linux/void-docs/pull/204 by @CameronNemo

I'm not sure we should remove it, given that it is a useful, but at least recommend the user rebuild their grub config with `xbps-reconfigure` instead of `grub-mkconfig`. Or even just tell the user they need to add those parameters to their kernel cmdline, and leave how to do that as an exercise to the reader.

[2020-05-11 18:36] #20655 closed

[2020-05-11 20:11] pbui opened #21850 "Recommended udev rules for android-tools"
### System

* xuname:

Void 5.4.40_1 x86_64 GenuineIntel uptodate rDDDDDDDDDDDFFFFFF

* package:

android-tools

### Expected behavior

To properly access usb devices (ie. phones) with adb, it is recommended that we have the udev rules from the following location:

https://github.com/M0Rf30/android-udev-rules/blob/master/51-android.rules

To make use of these rules, the user should be in the `adbu

[2020-05-11 20:11] pbui commented on #21850
@ericonr Should be straightforward to package if you are interested.